<template>
    <div id="driver" class="container">
        <fa-header ename="driver"></fa-header>
        <div class="main fa-scroll">
            <div class="filterBox">
                <el-form :inline="true" :model="filterForm" ref="filterForm">
                    <el-form-item label="">
                        <el-input v-model="filterForm.user" placeholder="姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-input v-model="filterForm.telephone" placeholder="电话"></el-input>
                    </el-form-item>
                    <el-form-item label="添加时间">
                        <el-date-picker
                            v-model="filterForm.leaveTime"
                            type="daterange"
                            range-separator="-"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="filter">筛选</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="content ">
                <div class="hd">
                    <el-button type="primary" @click="openHandleDialog('')">
                        <i class="el-icon-plus logo"></i>添加农机手
                    </el-button>
                    <el-button @click="batchDeleteDriver()" :disabled="deleteDriver.length === 0"
                        ><i class="el-icon-minus logo"></i>删除农机手</el-button
                    >
                    <span class="divide"></span>
                    <el-button-group>
                        <el-button
                            v-for="(item, index) in employStatusBtn"
                            :key="index"
                            :class="{ current: currentEmployStatus === item.name }"
                            @click="setEmployStatus(item.name)"
                        >
                            {{ item.label }}({{ item.num }})
                        </el-button>
                    </el-button-group>
                </div>
                <!--                .slice(-->
                <!--                (currentPage - 1) * pageSize,-->
                <!--                currentPage * pageSize-->
                <!--                )-->
                <div class="bd">
                    <el-table
                        stripe
                        :data="driverTableData"
                        highlight-current-row
                        class="w100"
                        @selection-change="handleSelectionChange"
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column prop="userName" label="姓名"> </el-table-column>
                        <el-table-column prop="userMobile" label="电话"> </el-table-column>
                        <el-table-column prop="userAddress" label="地址"> </el-table-column>
                        <el-table-column prop="employState" label="聘用状态">
                            <template slot-scope="scope">
                                <span :style="`color:${scope.row.info.color}`">{{
                                    scope.row.info.name
                                }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="addTime" label="添加时间"> </el-table-column>
                        <el-table-column label="操作" width="240">
                            <template slot-scope="scope">
                                <el-button type="text" @click="openHandleDialog(scope.row)">
                                    修改
                                </el-button>
                                <el-button
                                    type="text"
                                    @click="resetPass(scope.row.id, scope.row.userLoginname)"
                                    >重置密码</el-button
                                >
                                <el-button type="text" @click="delPersonnel([scope.row.id])"
                                    >删除</el-button
                                >
                                <el-button
                                    type="text"
                                    v-if="scope.row.employState === '002'"
                                    @click="openDismissEmployDialog(scope.row.id)"
                                >
                                    解聘
                                </el-button>
                                <el-button
                                    type="text"
                                    v-else
                                    @click="openEmployDialog(scope.row.id)"
                                >
                                    聘用
                                </el-button>
                            </template>
                        </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout="total, sizes, prev, pager, next, jumper"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pageSize"
                        :total="total"
                    ></el-pagination>
                </div>
            </div>
        </div>

        <el-dialog title="新建/修改农机手" :visible.sync="addDriverDialog" width="500px">
            <el-form
                :model="addDriverForm"
                ref="addDriverForm"
                style="width:440px"
                label-width="80px"
                :rules="rules"
            >
                <el-form-item label="姓名" prop="name">
                    <el-input
                        v-model="addDriverForm.name"
                        autocomplete="off"
                        :disabled="addDriverForm.updateDisabled"
                    ></el-input>
                </el-form-item>
                <el-form-item label="电话" prop="telephone">
                    <el-input v-model="addDriverForm.telephone" placeholder="电话"></el-input>
                </el-form-item>
                <el-form-item label="地址" prop="address">
                    <el-input v-model="addDriverForm.address" placeholder="地址"></el-input>
                </el-form-item>
                <el-form-item label="聘用时间" prop="employTime">
                    <el-date-picker
                        v-model="addDriverForm.employTime"
                        type="datetimerange"
                        range-separator="-"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="w100"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        :default-time="['08:00:00', '18:00:00']"
                    >
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addDriverDialog = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate('addDriverForm')">
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <el-dialog title="聘用" :visible.sync="employDialog" width="500px">
            <el-form
                style="width:440px"
                label-width="80px"
                :model="employ"
                ref="employ"
                :rules="rules"
            >
                <el-form-item label="聘用时间" prop="employTime">
                    <el-date-picker
                        class="timeSelect"
                        v-model="employ.employTime"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :default-time="['08:00:00', '18:00:00']"
                        value-format="yyyy-MM-dd HH:mm:ss"
                    >
                    </el-date-picker
                ></el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="employDialog = false">取 消</el-button>
                <el-button
                    type="primary"
                    :disabled="employ.employTime.length === 0"
                    @click="employDriver"
                >
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <el-dialog title="解聘" :visible.sync="dismissEmployDialog" width="500px">
            <el-form
                style="width:440px"
                label-width="80px"
                :rules="rules"
                ref="dismissEmploy"
                :model="dismissEmploy"
            >
                <el-form-item label="解聘原因" prop="dismissEmployReason">
                    <el-input
                        v-model="dismissEmploy.dismissEmployReason"
                        autocomplete="off"
                    ></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dismissEmployDialog = false">取 消</el-button>
                <el-button
                    type="primary"
                    :disabled="dismissEmploy.dismissEmployReason === ''"
                    @click="dismissal()"
                >
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
// import { driverTableData } from './mock';
import {
    pageUserApi,
    userStatusCountApi,
    resetPassApi,
    delPersonnelApi,
    dismissEmployApi,
    employApi,
    updateDriverApi,
    saveDriverApi
} from '@utils/getData';
import { resolveRes } from '@utils/utils';
const md5 = require('md5');
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            startPassword: '12345678',
            filterForm: {
                leaveTime: '',
                telephone: '',
                user: ''
            },
            addDriverForm: {
                name: '',
                address: '',
                telephone: '',
                employTime: [],
                updateDisabled: false
            },
            employ: {
                employTime: []
            },
            dismissEmploy: {
                dismissEmployReason: ''
            },
            driverTableData: [],
            addDriverDialog: false,
            employDialog: false,
            dismissEmployDialog: false,
            employId: '',
            currentEmployStatus: '',
            total: 100,
            pageSize: 50,
            currentPage: 1,
            pageSizes: [50, 100, 200, 300, 500],
            employStatusBtn: [],
            rules: {
                name: [{ required: true, message: '请输入用户名', trigger: 'change' }],
                address: [{ required: true, message: '请输入地址', trigger: 'change' }],
                telephone: [{ required: true, message: '请输入手机号', trigger: 'change' }],
                dismissEmployReason: [
                    { required: true, message: '请输入解聘原因', trigger: 'change' }
                ],
                employTime: [{ required: true, message: '请选择聘用时间', trigger: 'change' }]
            },
            deleteDriver: []
        };
    },
    created() {
        this.getUserStatusCount();
        this.queryPageDriver();
    },
    // mounted() {},
    methods: {
        //用户状态统计值
        getUserStatusCount() {
            userStatusCountApi().then(res => {
                resolveRes(res, data => {
                    let count = 0;
                    data.forEach(item => {
                        count += item.num;
                    });
                    const obj = {
                        name: '',
                        label: '全部',
                        num: count
                    };
                    data.unshift(obj);
                    this.employStatusBtn = data;
                });
            });
        },
        //分页展示农机手
        queryPageDriver() {
            const params = {
                endDate:
                    this.filterForm.leaveTime[1] === undefined ? '' : this.filterForm.leaveTime[1],
                page: this.currentPage,
                projectId: '',
                roleId: '',
                size: this.pageSize,
                startDate:
                    this.filterForm.leaveTime[0] === undefined ? '' : this.filterForm.leaveTime[0],
                userMobile: this.filterForm.telephone,
                userName: this.filterForm.user,
                employState: this.currentEmployStatus
            };
            pageUserApi(params).then(res => {
                resolveRes(res, data => {
                    const driverTableData = data.list;
                    driverTableData.forEach(item => {
                        item['info'] = this.handleEmployStatus(item.employState);
                    });
                    this.driverTableData = driverTableData;
                    this.total = data.total;
                });
            });
        },
        resetPass(id, userLoginName) {
            const params = {
                id: id,
                newPass: md5(`${userLoginName}${this.startPassword}`)
            };
            this.$confirm('此操作将重置密码, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    resetPassApi(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                type: 'success',
                                message: '重置成功!'
                            });
                        });
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消重置'
                    });
                });
        },
        openDismissEmployDialog(id) {
            this.dismissEmployDialog = true;
            this.employId = id;
            if (this.$refs['dismissEmploy'] !== undefined) {
                this.$refs['dismissEmploy'].resetFields();
            }
        },
        dismissal() {
            const params = {
                id: this.employId,
                reason: this.dismissEmployReason
            };
            this.$confirm('此操作将解聘该人员, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    dismissEmployApi(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                type: 'success',
                                message: '解聘成功!'
                            });
                            this.dismissEmployDialog = false;
                        });
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消解聘'
                    });
                });
        },
        openEmployDialog(id) {
            this.employDialog = true;
            this.employId = id;
            if (this.$refs['employ'] !== undefined) {
                this.$refs['employ'].resetFields();
            }
        },
        employDriver() {
            const params = {
                id: this.employId,
                startEmployTime: this.employ.employTime[0],
                endEmployTime: this.employ.employTime[1]
            };
            this.$confirm('此操作将聘用该人员, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    employApi(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                type: 'success',
                                message: '聘用成功!'
                            });
                            this.employDialog = false;
                        });
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消聘用'
                    });
                });
        },
        filter() {
            this.queryPageDriver();
        },
        reset() {
            this.filterForm.leaveTime = [];
            this.filterForm.telephone = '';
            this.filterForm.user = '';
            this.currentEmployStatus = '';
            this.queryPageDriver();
        },
        setEmployStatus(status) {
            this.currentEmployStatus = status;
            this.queryPageDriver();
        },
        handleEmployStatus(status) {
            let info;
            switch (status) {
                case '002':
                    info = {
                        color: '#67C23A',
                        name: '聘用中'
                    };
                    break;
                case '003':
                    info = {
                        color: '#909399',
                        name: '聘用到期'
                    };
                    break;
                case '004':
                    info = {
                        color: '#F56C6C',
                        name: '解聘'
                    };
                    break;
                case '001':
                    info = {
                        color: '#000',
                        name: '未聘用'
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        // 获取当前页
        current_change(currentPage) {
            this.currentPage = currentPage;
            this.queryPageDriver();
        },
        // 获取当前每页条数
        handleChangeSize(pagesize) {
            this.pageSize = pagesize;
            this.currentPage = 1;
            this.queryPageDriver();
        },
        indexMethod(index) {
            return index + (this.currentPage - 1) * this.pageSize + 1;
        },
        handleSelectionChange(val) {
            val.forEach(item => {
                this.deleteDriver.push(item.id);
            });
        },
        batchDeleteDriver() {
            this.delPersonnel(this.deleteDriver);
        },
        delPersonnel(ids) {
            const params = {
                id: ids
            };
            this.$confirm('此操作将删除该人员, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    delPersonnelApi(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        });
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        openHandleDialog(row) {
            this.addDriverDialog = true;
            this.addDriverForm.name = '';
            this.addDriverForm.address = '';
            this.addDriverForm.telephone = '';
            this.addDriverForm.employTime = [];
            this.employId = '';
            this.addDriverForm.updateDisabled = false;
            if (this.$refs['addDriverForm'] !== undefined) {
                this.$refs['addDriverForm'].resetFields();
            }
            if (row !== '') {
                this.employId = row.id;
                this.addDriverForm.name = row.userName;
                this.addDriverForm.address = row.userAddress;
                this.addDriverForm.telephone = row.userMobile;
                this.addDriverForm.employTime = [row.employStart, row.employEnd];
                this.addDriverForm.updateDisabled = true;
            }
        },
        saveOrUpdate(addDriverForm) {
            this.$refs[addDriverForm].validate(valid => {
                if (valid) {
                    if (this.employId === '') {
                        this.saveDriver();
                    } else {
                        this.updateDriver();
                    }
                    this.addDriverDialog = false;
                } else {
                    return false;
                }
            });
        },
        saveDriver() {
            const params = {
                userName: this.addDriverForm.name,
                userAddress: this.addDriverForm.address,
                userMobile: this.addDriverForm.telephone,
                employStart: this.addDriverForm.employTime[0],
                employEnd: this.addDriverForm.employTime[1]
            };
            saveDriverApi(params).then(res => {
                resolveRes(res, () => {
                    this.$message({
                        type: 'success',
                        message: '新增成功!'
                    });
                });
            });
        },
        updateDriver() {
            const params = {
                id: this.employId,
                userName: this.addDriverForm.name,
                userAddress: this.addDriverForm.address,
                userMobile: this.addDriverForm.telephone,
                employStart: this.addDriverForm.employTime[0],
                employEnd: this.addDriverForm.employTime[1]
            };
            updateDriverApi(params).then(res => {
                resolveRes(res, () => {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    });
                });
            });
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common';
</style>
