<template>
    <div class="container" id="historyData">
        <fa-header ename="historyData"></fa-header>
        <div class="main">
            <amap ref="map">
                <amap-polyline
                    ref="polyline"
                    v-for="(equipment, index) in equipments"
                    :key="'equip' + index"
                    :path="equipment.path"
                    :strokeColor="background[index]"
                ></amap-polyline>
                <amap-marker
                    class="test"
                    v-for="(marker, index) in markers"
                    :position="marker.pos"
                    :key="'marker' + index"
                    :offset="[-9.5, -32]"
                    @click="markerClick($event, marker)"
                >
                    <div class="marker-using-slot">
                        <img :marker-id="marker.id" width="19px" height="32px" :src="markerIcon" />
                    </div>
                </amap-marker>
            </amap>
            <div class="toolList panel">
                <div class="hd">农机列表</div>
                <ul class="bd fa-scroll">
                    <li
                        v-for="(tool, index) in toolList"
                        :key="tool.id"
                        @click="triggerLegend(tool, index)"
                        :class="{ hide: hideArr.indexOf(index) > -1 }"
                    >
                        <span class="label">{{ tool.label }}</span>
                        <span class="colorBlock" :style="getBackground(index)"></span>
                    </li>
                </ul>
            </div>
            <div class="toolLine panel">
                <div class="hd">农机油量趋势图</div>
                <div class="bd">
                    <div id="lineChart"></div>
                </div>
            </div>
            <slide-photo
                ref="photo"
                :photo-list="photoList"
                @radioChange="radioChange"
                @updateImg="updateImg"
            ></slide-photo>
        </div>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import SlidePhoto from './SlidePhoto';
import echarts from 'echarts';
import { off, on } from '@utils/dom';
import log from '@utils/log';
import { listDbByJob } from '@utils/getData';
import { resolveRes } from '@utils/utils';
import getJobList from '../../mixins/getJobList';
import markerIcon from '@assets/image/map/mark_bs.png';
import markerRedIcon from '@assets/image/map/mark_rs.png';
export default {
    name: 'HistoryData',
    mixins: [getJobList],
    components: {
        FaHeader,
        SlidePhoto
    },
    data() {
        return {
            toolList: [],
            chartData: [],
            hideArr: [],
            equipments: [],
            cars: [],
            markers: [],
            jobId: '',
            photoList: [],
            camera: '1',
            photoMap: {},
            currentEquipment: {},
            markerIcon: markerIcon,
            markerRedIcon: markerRedIcon
        };
    },
    mounted() {
        const myChart = document.getElementById('lineChart');
        this.graph = echarts.init(myChart);
        if (this.taskList.length === 0) {
            this.getJobList().then(() => {
                if (this.$route.query.id) {
                    this.jobId = this.$route.query.id;
                    this.$store.commit('header/updateCurrentTaskId', this.jobId);
                }
                if (this.currentTaskId) {
                    this.jobId = this.currentTaskId;
                }
                this.listDbByJob();
            });
        } else {
            this.jobId = this.currentTaskId;
            log.info(this.jobId);
            this.listDbByJob();
        }

        on(window, 'resize', this.setResize);

        //TODO 设置图表
        //this.setChart(this.chartData);
    },
    methods: {
        getColor() {
            return `rgb(${Math.ceil(255 * Math.random())},${Math.ceil(
                255 * Math.random()
            )},${Math.ceil(255 * Math.random())})`;
        },
        triggerLegend(tool) {
            this.currentEquipment = this.equipments.find(e => {
                return e.id === tool.id;
            });
            const index = this.equipments.indexOf(this.currentEquipment);
            this.$refs.map.$map.setFitView(this.$refs.polyline[index].$target);
            log.info(tool);
            //切换 设备照片
            this.photoList = this.currentCameraList;
            /*var i = this.hideArr.indexOf(index);
            if (i > -1) {
                this.hideArr.splice(i, 1);
                //
                this.graph.dispatchAction({
                    type: 'legendSelect',
                    name: tool.label
                });
            } else {
                this.hideArr.push(index);

                this.graph.dispatchAction({
                    type: 'legendUnSelect',
                    name: tool.label
                });
            }*/
        },
        setChart(data) {
            //
            var options = {
                tooltip: {
                    trigger: 'axis'
                },
                color: this.background,
                legend: {
                    show: false
                },
                grid: {
                    left: 50,
                    bottom: 30,
                    right: 50,
                    top: 30
                },
                xAxis: [
                    {
                        type: 'category',
                        axisLine: {
                            lineStyle: {
                                color: '#dce0e9'
                            }
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#888'
                            },
                            interval: 0
                        },
                        axisTick: {
                            show: false
                        },
                        data: data.xAxis
                    }
                ],
                yAxis: [
                    {
                        name: '油量',
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#dce0e9'
                            }
                        },
                        nameTextStyle: {
                            color: '#666'
                        },
                        axisTick: {
                            show: false
                        },
                        axisLabel: {
                            textStyle: {
                                color: '#888'
                            },
                            formatter: '{value}'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#ebeef5'
                            }
                        }
                    }
                ],
                series: []
            };

            var series = [];

            data.data.forEach(item => {
                series.push({
                    name: item.label,
                    type: 'line',
                    symbolSize: 0,
                    lineStyle: {
                        normal: {
                            width: 3
                        }
                    },
                    data: item.value
                });
            });

            options.series = series;
            this.graph.clear();
            this.graph.setOption(options);
        },
        setResize() {
            this.graph.resize();
        },
        openDialog() {
            this.$refs.photo.open();
        },
        listDbByJob() {
            listDbByJob(this.listDbByJobParam).then(res => {
                resolveRes(res, data => {
                    this.equipments = data.list;
                    this.currentEquipment = data.list[0];
                    this.chartData.xAxis = data.timexAxis;
                    this.chartData.data = [];
                    this.toolList = [];
                    this.markers = [];
                    this.photoMap = {};
                    data.list.forEach(d => {
                        this.chartData.data.push({
                            label: d.machineName,
                            value: d.oilChange
                        });
                        this.toolList.push({
                            id: d.id,
                            label: d.machineName
                        });
                        const map = (this.photoMap[d.id] = {
                            camera1: [],
                            camera2: []
                        });
                        d.markers.forEach(m => {
                            map.camera1.push({
                                id: m.markerId,
                                imgSrc: m.pic1
                            });
                            map.camera2.push({
                                id: m.markerId,
                                imgSrc: m.pic2
                            });
                            this.markers.push({
                                id: m.markerId,
                                pos: m.pos
                            });
                        });
                    });
                    this.setChart(this.chartData);
                    log.info('点集合', this.markers);
                    log.info('图map', this.photoMap);
                    this.photoList = this.currentCameraList;
                });
            });
        },
        radioChange(val) {
            this.camera = val;
            this.photoList = [].concat(this.currentCameraList);
            log.info(this.photoList);
        },
        updateImg(id, lastId) {
            document.querySelector("[marker-id='" + id + "']").src = this.markerRedIcon;
            //'//webapi.amap.com/theme/v1.3/markers/b/mark_rs.png';
            if (lastId) {
                document.querySelector("[marker-id='" + lastId + "']").src = this.markerIcon;
                //'//webapi.amap.com/theme/v1.3/markers/b/mark_bs.png';
            }
        },
        markerClick($event, marker) {
            log.info($event, marker);
            this.$refs.photo.changeCurrentImage(marker.id);
        }
    },
    computed: {
        background() {
            var length = this.toolList.length;
            var arr = [];

            for (let i = 0; i < length; i++) {
                arr.push(this.getColor());
            }

            return arr;
        },
        getBackground() {
            return index => {
                return { background: this.background[index] };
            };
        },
        listDbByJobParam() {
            return {
                endDate: '',
                hostname: '',
                jobId: this.jobId,
                page: 0,
                projectId: '',
                size: 0,
                startDate: ''
            };
        },
        currentCameraList() {
            return this.camera === 1
                ? this.photoMap[this.currentEquipment.id].camera1
                : this.photoMap[this.currentEquipment.id].camera2;
        }
    },
    beforeDestroy() {
        if (this.graph) {
            this.graph.clear();
        }

        off(window, 'resize', this.setResize);
    },
    watch: {
        '$store.state.header.taskId'(val) {
            //log.info(val);
            this.jobId = val;
            log.info('切换id', this.jobId);
        },
        jobId(val) {
            if (val) {
                this.getJobList();
            }
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/historyData.scss';
</style>
