<template>
    <div class="slidePhoto">
        <div class="hd">快照查看</div>
        <div class="bd">
            <div class="radioBox">
                <el-radio v-model="camera" label="1" @change="radioChange">前置摄像头</el-radio>
                <el-radio v-model="camera" label="2" @change="radioChange">后置摄像头</el-radio>
            </div>
            <div class="content">
                <el-image :src="currentImg.imgSrc" fit="contain" style="width: 100%;height: 200px">
                    <div slot="error" class="image-slot">加载中<span class="dot">...</span></div>
                </el-image>
                <div class="controls">
                    <a href="javascript:;" @click="play" title="播放"
                        ><i class="el-icon-video-play" v-if="slideStatus !== 'play'"></i
                    ></a>
                    <a href="javascript:;" @click="pause" title="暂停"
                        ><i class="el-icon-video-pause" v-if="slideStatus === 'play'"></i
                    ></a>
                </div>
            </div>
            <table class="infoTable">
                <tr>
                    <td class="label">油量</td>
                    <td colspan="3">43L</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
//import { photoList } from './mock';
import markerIcon from '@assets/image/map/mark_bs.png';
import markerRedIcon from '@assets/image/map/mark_rs.png';
import log from '@utils/log';
export default {
    name: 'SlidePhoto',
    data() {
        return {
            currentImg: {},
            //photoList: photoList,
            timeId: 0,
            slideStatus: 'play',
            camera: '1',
            markerIcon,
            markerRedIcon
        };
    },
    props: {
        photoList: {
            type: Array
        }
    },
    mounted() {
        this.slideStatus = 'pause';
        //this.play();
    },
    methods: {
        play() {
            this.slideStatus = 'play';
            const lastId = this.currentImg.id;
            let index = this.photoList.indexOf(this.currentImg);
            if (!index || index < this.photoList.length - 1) {
                index++;
                this.currentImg = this.photoList[index];
            } else {
                this.currentImg = this.photoList[0] || {};
            }
            this.currentId = this.currentImg.id;
            if (this.currentId) {
                this.$emit('updateImg', this.currentId, lastId);
            }
            if (this.slideStatus === 'play' && this.currentImg.imgSrc) {
                this.timeId = setTimeout(() => {
                    this.play();
                }, 2000);
            }
        },
        pause() {
            this.slideStatus = 'pause';
            clearTimeout(this.timeId);
        },
        radioChange() {
            log.info(this.camera);
            this.$emit('radioChange', this.camera);
        },
        changeCurrentImage(id) {
            const currentImg = this.photoList.find(p => {
                return p.id === id;
            });
            if (currentImg.imgSrc) {
                document.querySelector(
                    "[marker-id='" + currentImg.id + "']"
                ).src = this.markerRedIcon;
                if (this.currentImg.id) {
                    document.querySelector(
                        "[marker-id='" + this.currentImg.id + "']"
                    ).src = this.markerIcon;
                }
                this.currentImg = currentImg;
                this.pause();
            }
        }
    },
    watch: {
        photoList(val) {
            if (val.length > 0) {
                this.currentImg = val[0];
                this.slideStatus = 'pause';
            }
        }
    }
};
</script>
<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/historyData.scss';
</style>
