<template>
    <div class="container" id="statistics">
        <fa-header ename="statistics"></fa-header>
        <div class="main">
            <ul class="topBox">
                <li v-for="(item, index) in topData" :key="index">
                    <img :src="item.img" />
                    <div class="text">
                        <span class="name">{{ item.name }}</span>
                        <span class="num">{{ item.num }}</span>
                    </div>
                </li>
            </ul>
            <div class="modelBox">
                <div class="model">
                    <div class="modelHd">地块分类统计</div>
                    <div class="modelBd">
                        <div class="chart" id="pieChart"></div>
                    </div>
                </div>
                <div class="model">
                    <div class="modelHd">农机手排名统计</div>
                    <div class="modelBd">
                        <el-table
                            class="farmerTable"
                            :data="farmerTableData"
                            stripe
                            style="width: 100%"
                            :height="tableHeight"
                        >
                            <el-table-column type="index" label="排名" width="90"></el-table-column>
                            <el-table-column prop="name" label="姓名"></el-table-column>
                            <el-table-column prop="time" label="工作时长" sortable width="110">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.time }}年</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="number" label="工作数" sortable width="110">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.number }}次</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="leaveNum" label="请假次数" sortable width="110">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.leaveNum }}次</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="score" label="评分" sortable>
                                <template slot-scope="scope">
                                    <span>{{ scope.row.score }}分</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <div class="model">
                    <div class="modelHd">农机使用频率统计</div>
                    <div class="modelBd">
                        <el-table
                            class="useFrequencyTable"
                            :data="useFrequencyTableData"
                            stripe
                            style="width: 100%"
                            :height="tableHeight"
                        >
                            <el-table-column type="index" label="排名" width="90"></el-table-column>
                            <el-table-column
                                prop="type"
                                label="农机类型"
                                width="120"
                            ></el-table-column>
                            <el-table-column prop="frequency" label="使用频率">
                                <template slot-scope="scope">
                                    <div class="percent">
                                        <span>{{ scope.row.frequency }}</span>
                                        <el-progress
                                            class="progress"
                                            :stroke-width="10"
                                            :percentage="scope.row.progress"
                                            :show-text="false"
                                        ></el-progress>
                                    </div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { off, on } from '@utils/dom';
import echarts from 'echarts';
import FaHeader from '@components/FaHeader';
import { topData, farmerTableData, useFrequencyTableData, pieData } from './mock.js';

export default {
    name: 'Statistics',
    components: {
        FaHeader
    },
    mounted() {
        this.drawPie();
        on(window, 'resize', this.setResize);
    },
    data() {
        return {
            topData: topData,
            farmerTableData: farmerTableData,
            useFrequencyTableData: useFrequencyTableData,
            pieData: pieData,
            pieChart: null,
            tableHeight: null
        };
    },
    methods: {
        drawPie() {
            this.pieChart = echarts.init(document.getElementById('pieChart'));
            const option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    bottom: 50,
                    itemWidth: 14,
                    itemHeight: 14,
                    itemGap: 20,
                    data: (function() {
                        const legendData = [];
                        for (let i = 0; i < pieData.length; i++) {
                            legendData.push(pieData[i].name);
                        }
                        return legendData;
                    })()
                },
                series: [
                    {
                        name: '地块分类统计',
                        color: ['#ffc956', '#54bb5b', '#529afc', '#9977f2', '#f47368', '#ff9c33'],
                        type: 'pie',
                        radius: ['45%', '60%'],
                        label: {
                            normal: {
                                show: true,
                                textStyle: {
                                    color: '#333',
                                    fontSize: 12
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: true
                            }
                        },
                        data: pieData
                    }
                ]
            };
            this.pieChart.setOption(option);
        },
        setResize() {
            this.pieChart.resize();
            this.tableHeight = document.querySelector('.modelBd').clientHeight;
        }
    },
    beforeDestroy() {
        off(window, 'resize', this.setResize);
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/statistics.scss';
</style>
