<template>
    <div id="doneInfo">
        <div class="filterBox">
            <el-button class="reLeave" type="primary" @click="openReLeaveDialog">
                代替请假
            </el-button>
            <el-form :inline="true" :model="doneForm">
                <el-form-item label="">
                    <el-input v-model="doneForm.user" placeholder="请假人"></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-input v-model="doneForm.reason" placeholder="请假事由"></el-input>
                </el-form-item>
                <el-form-item label="添加时间">
                    <el-date-picker
                        v-model="doneForm.leaveTime"
                        type="daterange"
                        range-separator="-"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="w100"
                    >
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="">
                    <el-select v-model="doneForm.processRes" placeholder="请选择">
                        <el-option
                            v-for="item in processRes"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="doneFilter">筛选</el-button>
                    <el-button @click="doneReset">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="content">
            <el-table
                :data="doneTableData.slice((currentPage - 1) * pagesize, currentPage * pagesize)"
                highlight-current-row
                class="w100"
                stripe
            >
                <el-table-column type="selection" width="55"> </el-table-column>
                <el-table-column prop="user" label="请假人"> </el-table-column>
                <el-table-column prop="reason" label="请假事由"> </el-table-column>
                <el-table-column prop="time" label="请假时间"> </el-table-column>
                <el-table-column prop="committer" label="提交人"> </el-table-column>
                <el-table-column prop="commitTime" label="提交时间"></el-table-column>
                <el-table-column prop="processRes" label="处理结果">
                    <template slot-scope="scope">
                        <div>
                            <span :style="`color:${scope.row.res.color}`">
                                【{{ scope.row.res.label }}】
                            </span>
                            {{ scope.row.res.describe }}
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="processTime" label="处理时间"></el-table-column>
                <template slot="empty">
                    <div>暂无数据</div>
                </template>
            </el-table>
            <el-pagination
                class="pagination"
                layout=" sizes, jumper, prev, pager, next, total"
                @current-change="current_change"
                @size-change="handleChangeSize"
                :page-sizes="pageSizes"
                :page-size="pagesize"
                :total="doneTableData.length"
            ></el-pagination>
        </div>
    </div>
</template>

<script>
import { doneTableData } from '../mock';
export default {
    name: '',
    props: {
        value: {
            default: ''
        }
    },
    components: {},
    data() {
        return {
            doneForm: {
                user: '',
                reason: '',
                leaveTime: ''
            },
            processRes: [
                {
                    value: 'allResult',
                    label: '全部通过'
                },
                {
                    value: 'reject',
                    label: '驳回'
                },
                {
                    value: '通过',
                    label: 'pass'
                }
            ],
            doneTableData: [],
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50]
        };
    },
    created() {
        doneTableData.forEach((val, index) => {
            doneTableData[index].res = this.processResJudge(val.processRes);
        });
        this.doneTableData = doneTableData;
    },
    methods: {
        processResJudge(val) {
            var res;
            switch (val) {
                case 'pass':
                    res = {
                        color: '#67C23A',
                        label: '通过',
                        describe: '情况属实，与已通过'
                    };
                    break;
                case 'rejected':
                    res = {
                        color: '#F56C6C',
                        label: '驳回',
                        describe: '有待核实'
                    };
                    break;
                default:
                    break;
            }
            return res;
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        doneFilter() {
            // todo：已办情况内容筛选
        },
        doneReset() {
            // todo：已办情况内容重置
        },
        openReLeaveDialog() {
            this.$emit('input', {
                batchDialog: false,
                reLeaveDialog: true
            });
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/leaveInfo';
@import '@assets/stylesheet/common.scss';
</style>
