<template>
    <div id="todoInfo">
        <div class="filterBox">
            <el-button class="reLeave" type="primary" @click="openReLeaveDialog">
                代替请假
            </el-button>
            <el-form :inline="true" :model="todoForm">
                <el-form-item label="">
                    <el-input v-model="todoForm.user" placeholder="请假人"></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-input v-model="todoForm.reason" placeholder="请假事由"></el-input>
                </el-form-item>
                <el-form-item label="提交时间">
                    <el-date-picker
                        v-model="todoForm.leaveTime"
                        type="daterange"
                        range-separator="-"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="w100"
                    >
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="todoFilter">筛选</el-button>
                    <el-button @click="todoReset">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="content">
            <div class="hd">
                <el-button type="primary" @click="openBatchDialog">
                    <i class="el-icon-check logo"></i> 批量通过
                </el-button>
                <el-button type="primary" @click="openBatchDialog">
                    <i class="el-icon-close logo"></i>批量驳回
                </el-button>
            </div>
            <div class="bd">
                <el-table
                    :data="
                        todoTableData.slice((currentPage - 1) * pagesize, currentPage * pagesize)
                    "
                    highlight-current-row
                    class="w100"
                    stripe
                >
                    <el-table-column type="selection" width="55"> </el-table-column>
                    <el-table-column prop="user" label="请假人"> </el-table-column>
                    <el-table-column prop="reason" label="请假事由"> </el-table-column>
                    <el-table-column prop="time" label="请假时间"> </el-table-column>
                    <el-table-column prop="committer" label="提交人"> </el-table-column>
                    <el-table-column prop="commitTime" label="添加时间"> </el-table-column>
                    <el-table-column label="操作" width="120">
                        <template slot-scope>
                            <el-button type="text" @click="openBatchDialog">通过</el-button>
                            <el-button type="text" @click="openBatchDialog">驳回</el-button>
                        </template>
                    </el-table-column>
                    <template slot="empty">
                        <div>暂无数据</div>
                    </template>
                </el-table>
                <el-pagination
                    class="pagination"
                    layout=" sizes, jumper, prev, pager, next, total"
                    @current-change="current_change"
                    @size-change="handleChangeSize"
                    :page-sizes="pageSizes"
                    :page-size="pagesize"
                    :total="todoTableData.length"
                ></el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import { todoTableData } from '../mock';
export default {
    name: '',
    props: {
        value: {
            default: ''
        }
    },
    components: {},
    data() {
        return {
            todoForm: {
                user: '',
                reason: '',
                leaveTime: ''
            },
            todoTableData: [],
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50]
        };
    },
    created() {
        this.todoTableData = todoTableData;
    },
    methods: {
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        todoFilter() {
            // todo：待办情况内容筛选
        },
        todoReset() {
            // todo：待办情况内容重置
        },
        openReLeaveDialog() {
            this.$emit('input', {
                batchDialog: false,
                reLeaveDialog: true
            });
        },
        openBatchDialog() {
            this.$emit('input', {
                batchDialog: true,
                reLeaveDialog: false
            });
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/leaveInfo';
@import '@assets/stylesheet/common.scss';
</style>
