<template>
    <el-dialog title="新建作业" :visible.sync="dialogVisible" width="760px" class="newTaskDialog">
        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="作业名称" prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="作业类型" prop="jobType">
                <el-select v-model="form.jobType" placeholder="请选择" class="multipleSelect">
                    <el-option
                        v-for="item in this.jobTypeOption"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="作业时间" prop="time">
                <el-date-picker
                    class="timeSelect"
                    v-model="form.time"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :default-time="['08:00:00', '18:00:00']"
                    value-format="yyyy-MM-dd HH:mm:ss"
                >
                </el-date-picker>
                <el-select v-model="form.interval" prop="interval" placeholder="请选择">
                    <el-option
                        v-for="item in intervalOption"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="地块信息" prop="location">
                <el-select
                    v-model="form.location.label"
                    multiple
                    filterable
                    placeholder="请选择"
                    class="multipleSelect"
                    ref="location"
                    :filter-method="filterLocationTree"
                    @remove-tag="removeLocationTag"
                >
                    <el-option
                        :value="form.location.label"
                        class="fa-classify"
                        style="padding:0;height:auto;overflow:auto;background:#fff"
                    >
                        <el-tree
                            :data="locationOption"
                            :props="defaultFieldProps"
                            default-expand-all
                            node-key="id"
                            show-checkbox
                            ref="locationTree"
                            @check-change="handleLocationTreeCheck"
                            :filter-node-method="filterFieldNode"
                        ></el-tree>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="农机选择">
                <el-select
                    v-model="form.machine.label"
                    placeholder="请选择"
                    multiple
                    filterable
                    class="multipleSelect"
                    :filter-method="filterMachineTree"
                    @remove-tag="removeMachineTag"
                >
                    <el-option
                        :value="form.machine.label"
                        class="fa-classify"
                        style="padding:0;height:auto;overflow:auto;background:#fff"
                    >
                        <el-tree
                            :data="machineOption"
                            :props="defaultProps"
                            node-key="id"
                            default-expand-all
                            show-checkbox
                            ref="machineTree"
                            @check-change="handleMachineTreeCheck"
                            :filter-node-method="filterNode"
                        ></el-tree>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="农具选择">
                <el-select
                    v-model="form.tool.label"
                    multiple
                    filterable
                    placeholder="请选择"
                    class="multipleSelect"
                    :filter-method="filterToolTree"
                    @remove-tag="removeToolTag"
                >
                    <el-option
                        :value="form.tool.label"
                        class="fa-classify"
                        style="padding:0;height:auto;overflow:auto;background:#fff"
                    >
                        <el-tree
                            :data="toolOption"
                            :props="defaultProps"
                            node-key="id"
                            default-expand-all
                            show-checkbox
                            ref="toolTree"
                            @check-change="handleToolTreeCheck"
                            :filter-node-method="filterNode"
                        ></el-tree>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="快速选择">
                <div class="chooseHd">
                    <div class="fastChoose">
                        <el-input
                            v-model="form.personNum"
                            placeholder="快速输入需要人数"
                            class="innerInput"
                            size="small"
                        ></el-input>
                        <el-button size="small" @click="autoAddPerson">确定</el-button>
                    </div>
                    <div class="tip">共{{ form.optionalTotal }}人可用</div>
                </div>
            </el-form-item>
            <el-form-item label="农机手" prop="person">
                <el-select
                    v-model="form.person"
                    multiple
                    placeholder="请选择"
                    class="multipleSelect"
                >
                    <el-option
                        v-for="item in personOption"
                        :key="item.id"
                        :label="item.userName"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="saveNewJobbill('form')">新建作业</el-button>
        </span>
    </el-dialog>
</template>

<script>
import log from '@utils/log';
// import { intervalOption } from './mock';
import { resolveRes } from '@utils/utils';
import {
    jobbillSave,
    getGridTreeByPlantId,
    jobbillQueryMach,
    jobbillQueryTool,
    jobbillQueryUser,
    getDataDictionarys
} from '@utils/getData';

const validatorlabel = (rule, value, callback) => {
    if (!value) {
        return callback(new Error(rule.message));
    }
    if (value.label.length > 0) {
        callback();
    } else {
        return callback(new Error(rule.message));
    }
};

export default {
    name: 'NewTask',
    data() {
        return {
            dialogVisible: false,
            locationOption: [],
            machineOption: [],
            toolOption: [],
            personOption: [],
            intervalOption: [],
            jobTypeOption: [],
            form: {
                name: '',
                jobType: '',
                time: [],
                location: {
                    id: [],
                    label: []
                },
                machine: {
                    id: [],
                    label: []
                },
                tool: {
                    id: [],
                    label: []
                },
                person: [],
                personNum: '',
                interval: '',
                optionalTotal: 0
            },
            rules: {
                name: [{ required: true, message: '请输入作业名称', trigger: 'change' }],
                jobType: [{ required: true, message: '请选择作业类型', trigger: 'change' }],
                time: [{ required: true, message: '请选择作业起止时间', trigger: 'change' }],
                location: [
                    {
                        required: true,
                        validator: validatorlabel,
                        message: '请选择地块信息',
                        trigger: 'change'
                    }
                ],
                person: [{ required: true, message: '请选择农机手信息', trigger: 'change' }]
            },
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            defaultFieldProps: {
                children: 'children',
                label: 'labelName'
            }
        };
    },
    computed: {
        status() {
            return {
                deviceCategory: '',
                deviceCode: '',
                deviceName: '',
                deviceStatus: '02',
                endDate: '',
                page: 0,
                projectId: '',
                size: 0,
                startDate: ''
            };
        }
    },
    methods: {
        open() {
            this.dialogVisible = true;
            this.jobbillQueryField();
            this.jobbillQueryMach();
            this.jobbillQueryTool();
            this.jobbillQueryUser();
            this.getDataDictionarys();
        },
        jobbillQueryField() {
            const params = {
                plantId: ' ',
                level: 0
            };
            getGridTreeByPlantId(params).then(res => {
                resolveRes(res, data => {
                    this.locationOption = data.children;
                });
            });
        },
        jobbillQueryMach() {
            jobbillQueryMach(this.status).then(res => {
                resolveRes(res, data => {
                    this.machineOption = data;
                });
            });
        },
        jobbillQueryTool() {
            jobbillQueryTool(this.status).then(res => {
                resolveRes(res, data => {
                    this.toolOption = data;
                });
            });
        },
        jobbillQueryUser() {
            const params = {
                endDate: '',
                page: 0,
                projectId: '',
                roleId: '104',
                size: 0,
                startDate: '',
                userMobile: '',
                userName: '',
                userState: '02'
            };
            jobbillQueryUser(params).then(res => {
                resolveRes(res, data => {
                    this.personOption = data;
                });
                this.form.optionalTotal = this.personOption.length;
            });
        },
        getDataDictionarys() {
            const params = {
                dbNames: ['db_jobtype', 'db_timetype']
            };
            getDataDictionarys(params).then(res => {
                resolveRes(res, data => {
                    data.forEach(item => {
                        if (item.typename === 'db_jobtype') {
                            this.jobTypeOption = item.dictionaryList;
                        } else if (item.typename === 'db_timetype') {
                            this.intervalOption = item.dictionaryList;
                            this.form.interval = this.intervalOption[0].id;
                            if (this.$refs['form'] !== undefined) {
                                this.$refs['form'].resetFields();
                            }
                        }
                    });
                });
            });
        },
        //随机选择农机手
        autoAddPerson() {
            if (this.form.personNum > this.form.optionalTotal) {
                this.$message({
                    message: '所选人数超过可选总人数',
                    type: 'warning'
                });
            } else {
                const autoPerson = this.getRandomArrayElements(
                    this.personOption,
                    this.form.personNum
                );
                log.info(autoPerson);
                this.form.person = [];
                autoPerson.forEach(item => {
                    this.form.person.push(item.id);
                });
            }
        },
        /* 随机获取数组中的数据*/
        getRandomArrayElements(arr, count) {
            var shuffled = arr.slice(0),
                i = arr.length,
                min = i - count,
                temp,
                index;
            while (i-- > min) {
                index = Math.floor((i + 1) * Math.random());
                temp = shuffled[index];
                shuffled[index] = shuffled[i];
                shuffled[i] = temp;
            }
            return shuffled.slice(min);
        },
        saveNewJobbill(form) {
            this.$refs[form].validate(valid => {
                if (valid) {
                    const params = {
                        jobName: this.form.name,
                        jobType: this.form.jobType,
                        startTime: this.form.time[0],
                        endTime: this.form.time[1],
                        timeType: this.form.interval,
                        fieldApplied: this.form.location.id,
                        machApplied: this.form.machine.id,
                        toolApplied: this.form.tool.id,
                        userApplied: this.form.person
                    };
                    log.info(params);
                    jobbillSave(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                message: '新建任务成功',
                                type: 'success'
                            });
                            this.dialogVisible = false;
                        });
                    });
                } else {
                    return false;
                }
            });
        },
        handleLocationTreeCheck() {
            const nodes = this.$refs.locationTree.getCheckedNodes(true);
            this.form.location.label = [];
            this.form.location.label = nodes.map(item => {
                return item.labelName;
            });
            this.form.location.id = [];
            nodes.map(item => {
                this.form.location.id.push(item.id);
            });
        },
        handleMachineTreeCheck() {
            const nodes = this.$refs.machineTree.getCheckedNodes(true);

            this.form.machine.label = nodes.map(item => {
                return item.label;
            });
            this.form.machine.id = [];
            nodes.map(item => {
                this.form.machine.id.push(item.id);
            });
        },
        handleToolTreeCheck() {
            const nodes = this.$refs.toolTree.getCheckedNodes(true);

            this.form.tool.label = nodes.map(item => {
                return item.label;
            });
            this.form.tool.id = [];
            nodes.map(item => {
                this.form.tool.id.push(item.id);
            });
        },
        filterLocationTree(query) {
            this.$refs.locationTree.filter(query);
        },
        removeLocationTag(val) {
            const nodes = this.$refs.locationTree.getCheckedNodes(true);
            this.form.location.id = [];
            const checkedNodes = [];
            nodes.forEach(item => {
                if (item.labelName !== val) {
                    this.form.location.id.push(item.id);
                    checkedNodes.push(item);
                }
            });
            this.$refs.locationTree.setCheckedNodes(checkedNodes);
            log.info(val);
        },
        filterFieldNode(value, data) {
            if (!value) return true;
            return data.labelName.indexOf(value) !== -1;
        },
        filterNode(value, data) {
            if (!value) return true;
            return data.label.indexOf(value) !== -1;
        },
        filterMachineTree(query) {
            this.$refs.machineTree.filter(query);
        },
        removeMachineTag(val) {
            const nodes = this.$refs.machineTree.getCheckedNodes(true);
            this.form.machine.id = [];
            const checkedNodes = [];
            nodes.forEach(item => {
                if (item.label !== val) {
                    this.form.machine.id.push(item.id);
                    checkedNodes.push(item);
                }
            });
            this.$refs.machineTree.setCheckedNodes(checkedNodes);
            log.info(val);
        },
        filterToolTree(query) {
            this.$refs.toolTree.filter(query);
        },
        removeToolTag(val) {
            const nodes = this.$refs.toolTree.getCheckedNodes(true);
            this.form.tool.id = [];
            const checkedNodes = [];
            nodes.forEach(item => {
                if (item.label !== val) {
                    this.form.tool.id.push(item.id);
                    checkedNodes.push(item);
                }
            });
            this.$refs.toolTree.setCheckedNodes(checkedNodes);
            log.info(val);
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/taskManage.scss';
</style>
