<template>
    <div class="taskDoing">
        <div class="filterArea">
            <div class="kv">
                <span class="key">作业名称</span>
                <span class="value"
                    ><el-input v-model="inputValue" placeholder="请输入内容"></el-input
                ></span>
            </div>
            <div class="kv">
                <span class="key">创建时间</span>
                <span class="value">
                    <el-date-picker
                        v-model="timeValue"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="timeSelect"
                        :default-time="['00:00:00', '23:59:59']"
                        value-format="yyyy-MM-dd HH:mm:ss"
                    >
                    </el-date-picker
                ></span>
            </div>
            <el-button type="primary" @click="filter">筛选</el-button>
            <el-button @click="reset">重置</el-button>
        </div>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%"
            class="table"
            :max-height="tableHeight"
        >
            <el-table-column prop="jobName" label="作业名称">
                <template slot-scope="scope">
                    <a href="javascript:;" @click="openTaskInfo(scope.row)">{{
                        scope.row.jobName
                    }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="total" label="农机手总数">
                <template slot-scope="scope">
                    <span>{{ scope.row.participateNum }}人</span>
                </template>
            </el-table-column>
            <el-table-column prop="over" label="已完成作业人数">
                <template slot-scope="scope">
                    <span class="fontGreen" v-if="scope.row.over">{{ scope.row.over }}人</span>
                    <span v-else>-</span>
                </template>
            </el-table-column>
            <el-table-column prop="ing" label="进行中作业人数">
                <template slot-scope="scope">
                    <span class="fontYellow" v-if="scope.row.ing">{{ scope.row.ing }}人</span>
                    <span v-else>-</span>
                </template>
            </el-table-column>
            <el-table-column prop="process" label="作业进度">
                <template slot-scope="scope">
                    <span class=""
                        >{{ Math.ceil((scope.row.over / scope.row.participateNum) * 100) }}%</span
                    >
                </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间"></el-table-column>
            <el-table-column prop="operate" label="操作">
                <template slot-scope="scope">
                    <div class="opt">
                        <a href="javascript:;" @click="checkTask(scope.row)"> 作业数据 </a>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            class="pagination"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
        >
        </el-pagination>
        <task-info ref="taskInfo"></task-info>
    </div>
</template>

<script>
import mixins from './mixins/mixins';
import TaskInfo from './TaskInfo';

// import { doingTable } from './mock';

export default {
    name: 'TaskDoing',
    mixins: [mixins],
    components: { TaskInfo },
    data() {
        return {
            tableData: [],
            total: 0
        };
    },
    created() {
        this.jobStatus = '008';
        this.pageApi();
    },
    methods: {
        checkTask(row) {
            //打开实时作业数据
            const { href } = this.$router.resolve({
                name: 'intimeData',
                query: {
                    id: row.id
                }
            });
            //sessionStorage.setItem('currentJobId', row.id);
            window.open(href, '_blank');
        },
        openTaskInfo(row) {
            this.$refs.taskInfo.open(row, 'doing');
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
