<template>
    <div class="taskTodo">
        <div class="filterArea">
            <div class="kv">
                <span class="key">作业名称</span>
                <span class="value"
                    ><el-input v-model="inputValue" placeholder="请输入内容"></el-input
                ></span>
            </div>
            <div class="kv">
                <span class="key">创建时间</span>
                <span class="value">
                    <el-date-picker
                        v-model="timeValue"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="timeSelect"
                        :default-time="['00:00:00', '23:59:59']"
                        value-format="yyyy-MM-dd HH:mm:ss"
                    >
                    </el-date-picker
                ></span>
            </div>
            <el-button type="primary" @click="filter">筛选</el-button>
            <el-button @click="reset">重置</el-button>
        </div>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%"
            class="table"
            :max-height="tableHeight"
        >
            <el-table-column prop="jobName" label="作业名称">
                <template slot-scope="scope">
                    <a href="javascript:;" @click="openTaskInfo(scope.row)">{{
                        scope.row.jobName
                    }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="total" label="需要农机手总数">
                <template slot-scope="scope">
                    <span>{{ scope.row.participateNum }}人</span>
                </template>
            </el-table-column>
            <el-table-column prop="receive" label="接单农机手数">
                <template slot-scope="scope">
                    <span>{{ scope.row.receive }}人</span>
                </template>
            </el-table-column>
            <el-table-column prop="reject" label="拒单农机手数">
                <template slot-scope="scope">
                    <span class="fontRed" v-if="scope.row.reject">{{ scope.row.reject }}人</span>
                    <span v-else>-</span>
                </template>
            </el-table-column>
            <el-table-column prop="process" label="派单进度">
                <template slot-scope="scope">
                    <span class=""
                        >{{
                            Math.ceil((scope.row.receive / scope.row.participateNum) * 100)
                        }}%</span
                    >
                </template>
            </el-table-column>
            <el-table-column prop="createTime" label="创建时间"></el-table-column>
            <el-table-column prop="operate" label="操作">
                <template slot-scope="scope">
                    <div class="opt">
                        <a
                            v-if="scope.row.reject && scope.row.reject > 0"
                            href="javascript:;"
                            @click="openTaskAssign(scope.row.id)"
                            >重新派单</a
                        >
                        <a
                            v-else-if="scope.row.participateNum === scope.row.receive"
                            href="javascript:;"
                            @click="openMessage(scope.row.id)"
                            >发布任务</a
                        >
                        <span v-else>派单中</span>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            class="pagination"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
        >
        </el-pagination>
        <task-info ref="taskInfo"></task-info>
        <task-assign ref="taskAssign"></task-assign>
    </div>
</template>

<script>
import mixins from './mixins/mixins';
import TaskInfo from './TaskInfo';
import TaskAssign from './TaskAssign';

import { jobbillUpdate } from '@utils/getData';
import { resolveRes } from '@utils/utils';
// import { todoTable } from './mock';

export default {
    name: 'TaskTodo',
    mixins: [mixins],
    components: { TaskInfo, TaskAssign },
    created() {
        this.jobStatus = '007';
        this.pageApi();
    },
    data() {
        return {
            tableData: [],
            total: 0
        };
    },
    methods: {
        openTaskInfo(row) {
            this.$refs.taskInfo.open(row, 'todo');
        },
        openTaskAssign(id) {
            this.$refs.taskAssign.open(id);
        },
        openMessage(id) {
            const params = {
                id: id,
                jobStatus: '008',
                projectId: ''
            };
            jobbillUpdate(params).then(res => {
                resolveRes(res, () => {
                    this.$message({
                        message: '发布作业成功',
                        type: 'success'
                    });
                });
            });
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
