<template>
    <el-dialog title="作业详情" :visible.sync="dialogVisible" width="900px" class="taskInfoDialog">
        <div class="content">
            <div class="title">基本信息</div>
            <table class="infoTable">
                <tr>
                    <td class="label">作业名称</td>
                    <td>{{ jobName }}</td>
                    <td class="label">作业时间</td>
                    <td colspan="5">{{ startTime }} 到 {{ endTime }}</td>
                </tr>
                <tr>
                    <td class="label">农机</td>
                    <td colspan="3">{{ machApplied }}</td>
                    <td class="label">农具</td>
                    <td colspan="3">{{ toolApplied }}</td>
                </tr>
                <tr>
                    <td class="label">地块</td>
                    <td colspan="7">{{ fieldApplied }}</td>
                </tr>
            </table>
        </div>
        <div class="content">
            <div class="title">农机手信息</div>
            <el-table :data="tableData" stripe style="width: 100%" class="table" max-height="250">
                <el-table-column prop="driverName" label="真实姓名"></el-table-column>
                <el-table-column prop="userMobile" label="手机号码"></el-table-column>
                <el-table-column prop="jobStatusName" label="作业进度">
                    <template slot-scope="scope">
                        <el-tag :type="getTag(scope.row.jobStatusName)">{{
                            scope.row.jobStatusName
                        }}</el-tag>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="content" v-if="level === 'over' && typeof outerData.score == 'number'">
            <div class="title">评分信息</div>
            <div class="starList">
                <span
                    v-for="(star, index) in starNum"
                    :key="index"
                    :class="{ current: star <= outerData.score }"
                >
                    <i class="ct-font-star"></i>
                </span>
                {{ outerData.score }}星
            </div>
            <div class="starDesc">{{ outerData.scoreDesc }}</div>
        </div>
        <span slot="footer" class="dialog-footer">
            <div class="footerOpt" v-if="level === 'todo'">
                <div class="tip">
                    {{ outerData.participateNum }}个农机手，{{ outerData.receive }}人接单,{{
                        outerData.reject
                    }}人拒单
                </div>
                <el-button
                    type="primary"
                    @click="childOpenMessage(outerData.id)"
                    v-if="outerData.participateNum === outerData.receive"
                    >发布任务</el-button
                >
                <el-button
                    type="primary"
                    @click="childOpenTaskAssign(outerData.id)"
                    v-if="outerData.reject && outerData.reject > 0"
                    >重新派单</el-button
                >
            </div>
            <div class="footerOpt" v-else-if="level === 'doing'">
                <div class="tip">
                    共{{ outerData.participateNum }}个农机手，已完成作业：{{
                        outerData.over
                    }}人，作业中{{ outerData.ing }}人
                </div>
            </div>
            <div
                class="footerOpt"
                v-else-if="
                    level === 'over' && !outerData.score && typeof outerData.score != 'number'
                "
            >
                <div class="tip"></div>
                <el-button type="primary" @click="childOpenGrade(outerData.id)">作业评分</el-button>
            </div>
        </span>
    </el-dialog>
</template>

<script>
// import { infoTableData } from './mock';
import { jobbillGetById } from '@utils/getData';
import { resolveRes } from '@utils/utils';
export default {
    name: 'TaskInfo',
    data() {
        return {
            jobName: '',
            startTime: '',
            endTime: '',
            fieldApplied: '',
            machApplied: '',
            toolApplied: '',
            dialogVisible: false,
            tableData: [],
            level: '',
            outerData: null,
            starNum: 5
        };
    },
    methods: {
        open(data, level) {
            this.getTaskInfo(data.id);
            this.outerData = data;
            this.level = level;
        },
        childOpenTaskAssign(id) {
            this.$parent.openTaskAssign(id);
        },
        childOpenMessage(id) {
            this.$parent.openMessage(id);
        },
        childOpenGrade(id) {
            this.$parent.openGrade(id);
        },
        getTaskInfo(id) {
            const vm = this;
            const params = {
                id: id
            };
            jobbillGetById(params).then(res => {
                resolveRes(res, data => {
                    const taskInfo = data;
                    vm.jobName = taskInfo.jobName;
                    vm.startTime = taskInfo.startTime;
                    vm.endTime = taskInfo.endTime;
                    const machApp = taskInfo.machApplied;
                    const toolApp = taskInfo.toolApplied;
                    const fieldApp = taskInfo.fieldApplied;
                    this.tableData = taskInfo.userApplied;
                    vm.machApplied = '';
                    machApp.forEach(function(item, index) {
                        if (index === 0) {
                            vm.machApplied = item.machineName;
                        } else {
                            vm.machApplied = vm.machApplied + ',' + item.machineName;
                        }
                    });
                    vm.toolApplied = '';
                    toolApp.forEach(function(item, index) {
                        if (index === 0) {
                            vm.toolApplied = item.toolName;
                        } else {
                            vm.toolApplied = vm.toolApplied + ',' + item.toolName;
                        }
                    });
                    vm.fieldApplied = '';
                    fieldApp.forEach(function(item, index) {
                        if (index === 0) {
                            vm.fieldApplied = item.fieldName;
                        } else {
                            vm.fieldApplied = vm.fieldApplied + ',' + item.fieldName;
                        }
                    });
                });
                this.dialogVisible = true;
            });
        },
        //表格颜色
        getTag(text) {
            let colorName = '';
            if (text === '未接单') {
                colorName = 'info';
            } else if (text === '已拒单') {
                colorName = 'danger';
            } else if (text === '已接单') {
                colorName = 'warning';
            } else if (text === '进行中') {
                colorName = '';
            } else if (text === '已完成') {
                colorName = 'success';
            }
            return colorName;
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
