<template>
    <el-dialog title="作业评分" :visible.sync="dialogVisible" width="500px" class="taskGradeDialog">
        <el-form label-width="80px" ref="form" :rules="rules" :model="form">
            <el-form-item label="作业评分">
                <div class="starList">
                    <span
                        v-for="(star, index) in starNum"
                        :key="index"
                        :class="{ current: star <= form.currentStar }"
                        @click="handleStar(index)"
                    >
                        <i class="ct-font-star"></i>
                    </span>
                    {{ form.currentStar }}星
                </div>
            </el-form-item>
            <el-form-item label="文字描述" prop="textarea">
                <el-input
                    type="textarea"
                    :rows="2"
                    placeholder="请输入内容"
                    v-model="form.textarea"
                >
                </el-input>
            </el-form-item>
        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="grade('form')">评分</el-button>
        </span>
    </el-dialog>
</template>

<script>
import { jobbillSetScore } from '@utils/getData';
import { resolveRes } from '@utils/utils';
import log from '@utils/log';
export default {
    name: 'TaskGrade',
    data() {
        return {
            dialogVisible: false,
            starNum: 5,
            form: {
                currentStar: 0,
                textarea: ''
            },
            rules: {
                textarea: [{ required: true, message: '请输入评价', trigger: 'change' }]
            },
            gradeId: ''
        };
    },
    methods: {
        open(id) {
            this.dialogVisible = true;
            this.gradeId = id;
        },
        handleStar(index) {
            this.form.currentStar = index + 1;
        },
        grade(form) {
            this.$refs[form].validate(valid => {
                if (valid) {
                    const params = {
                        id: this.gradeId,
                        scoreDesc: this.form.textarea,
                        score: this.form.currentStar
                    };
                    log.info(params);
                    jobbillSetScore(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                message: '评分成功',
                                type: 'success'
                            });
                            this.dialogVisible = false;
                        });
                    });
                } else {
                    return false;
                }
            });
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
