<template>
    <div class="taskOver">
        <div class="filterArea">
            <div class="kv">
                <span class="key">作业名称</span>
                <span class="value"
                    ><el-input v-model="inputValue" placeholder="请输入内容"></el-input
                ></span>
            </div>
            <div class="kv">
                <span class="key">创建时间</span>
                <span class="value">
                    <el-date-picker
                        v-model="timeValue"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="timeSelect"
                        :default-time="['00:00:00', '23:59:59']"
                        value-format="yyyy-MM-dd HH:mm:ss"
                    >
                    </el-date-picker
                ></span>
            </div>
            <el-button type="primary" @click="filter">筛选</el-button>
            <el-button @click="reset">重置</el-button>
        </div>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%"
            class="table"
            :max-height="tableHeight"
        >
            <el-table-column prop="jobName" label="作业名称">
                <template slot-scope="scope">
                    <a href="javascript:;" @click="openTaskInfo(scope.row)">{{
                        scope.row.jobName
                    }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="total" label="农机手总数">
                <template slot-scope="scope">
                    <span>{{ scope.row.participateNum }}人</span>
                </template>
            </el-table-column>
            <el-table-column prop="startTime" label="开始时间"></el-table-column>
            <el-table-column prop="endTime" label="完成时间"></el-table-column>
            <el-table-column prop="score" label="评分">
                <template slot-scope="scope">
                    <div
                        v-if="typeof scope.row.score === 'number'"
                        class="starList"
                        @click="openTaskInfo(scope.row)"
                    >
                        <span
                            v-for="(star, index) in starNum"
                            :key="index"
                            :class="{ current: star <= scope.row.score }"
                        >
                            <i class="ct-font-star"></i>
                        </span>
                        {{ scope.row.score }}星
                    </div>
                    <div v-else>-</div>
                </template>
            </el-table-column>
            <el-table-column prop="operate" label="操作">
                <template slot-scope="scope">
                    <div class="opt">
                        <a href="javascript:;" @click="checkTask(scope.row)">作业数据</a>
                        <a
                            v-if="!scope.row.score && typeof scope.row.score != 'number'"
                            href="javascript:;"
                            @click="openGrade(scope.row.id)"
                            >评价</a
                        >
                        <span v-else class="fontGray">已评价</span>
                    </div>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            class="pagination"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
        >
        </el-pagination>
        <task-info ref="taskInfo"></task-info>
        <task-grade ref="taskGrade"></task-grade>
    </div>
</template>

<script>
import mixins from './mixins/mixins';
import TaskInfo from './TaskInfo';
import TaskGrade from './TaskGrade';

// import { overTable } from './mock';
export default {
    name: 'TaskOver',
    mixins: [mixins],
    components: { TaskInfo, TaskGrade },
    data() {
        return {
            tableData: [],
            total: 0,
            starNum: 5
        };
    },
    created() {
        this.jobStatus = '009';
        this.pageApi();
    },
    methods: {
        openTaskInfo(row) {
            this.$refs.taskInfo.open(row, 'over');
        },
        openGrade(id) {
            this.$refs.taskGrade.open(id);
        },
        checkTask(row) {
            //打开历史作业数据
            const { href } = this.$router.resolve({
                name: 'historyData',
                query: {
                    id: row.id
                }
            });
            //sessionStorage.setItem('currentJobId', row.id);
            window.open(href, '_blank');
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
