<template>
    <div class="container">
        <fa-header ename="taskManage"></fa-header>
        <div class="main">
            <div class="tabs">
                <el-tabs v-model="currentModule" type="card" @tab-click="handleClick" class="tab">
                    <el-tab-pane
                        :label="'待发布(' + taskToDoCount + ')'"
                        name="TaskTodo"
                        id="007"
                    ></el-tab-pane>
                    <el-tab-pane
                        :label="'进行中(' + taskDoingCount + ')'"
                        name="TaskDoing"
                        id="008"
                    ></el-tab-pane>
                    <el-tab-pane
                        :label="'已完成(' + taskOverCount + ')'"
                        name="TaskOver"
                        id="009"
                    ></el-tab-pane>
                </el-tabs>
                <el-button type="primary" class="newTask" @click="newTask">新建作业</el-button>
            </div>

            <component :is="currentModule" class="tabContent"></component>
        </div>
        <new-task ref="newTask"></new-task>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
// import { tabData } from './mock';

import NewTask from './NewTask';
import { resolveRes } from '@utils/utils';
import { jobbillGetCount } from '@utils/getData';
export default {
    name: 'TaskManage',
    components: {
        FaHeader,
        NewTask,
        TaskTodo: () => import(/* webpackChunkName: "TaskTodo" */ './TaskTodo'),
        TaskDoing: () => import(/* webpackChunkName: "TaskDoing" */ './TaskDoing'),
        TaskOver: () => import(/* webpackChunkName: "TaskOver" */ './TaskOver')
    },
    created() {
        this.getCount();
    },
    data() {
        return {
            tabData: [],
            currentModule: 'TaskTodo',
            currentId: '',
            taskToDoCount: 0,
            taskDoingCount: 0,
            taskOverCount: 0
        };
    },
    methods: {
        handleClick(tab) {
            this.currentModule = tab.paneName;
            this.currentId = tab.id;
        },
        getCount() {
            const vm = this;
            vm.tabData = [];
            jobbillGetCount().then(res => {
                resolveRes(res, data => {
                    const count = data;
                    count.forEach(function(item) {
                        if (item.id === '007') {
                            vm.taskToDoCount = item.count;
                        } else if (item.id === '008') {
                            vm.taskDoingCount = item.count;
                        } else if (item.id === '009') {
                            vm.taskOverCount = item.count;
                        }
                    });
                });
            });
        },
        newTask() {
            this.$refs.newTask.open();
        }
    }
};
</script>

<style lang="scss" scoped>
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
