<template>
    <el-dialog
        title="重新派单"
        :visible.sync="dialogVisible"
        width="625px"
        class="taskAssignDialog"
    >
        <el-transfer
            v-model="value"
            :data="personList"
            :titles="['农机手列表', '已选人员']"
            @change="handleChange"
        ></el-transfer>
        <span slot="footer" class="dialog-footer footerOpt">
            <div class="tip">
                共{{ total }}个农机手，拒单：<span class="fontRed">{{ rejectTotal }}人</span>
            </div>
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="redispatch">重新派单</el-button>
        </span>
    </el-dialog>
</template>

<script>
// import { assignPersonList } from './mock';
import { queryJobUserApi, jobbillRedispatch, jobbillQueryUser } from '@utils/getData';
import { resolveRes } from '@utils/utils';
// import log from '@utils/log';
export default {
    name: 'TaskAssign',
    data() {
        return {
            dialogVisible: false,
            personList: [],
            value: [],
            redispatchId: '',
            deleteStaffId: [],
            addStaffId: [],
            total: 0,
            rejectTotal: 0,
            optionalStaff: [],
            selectedStaff: []
        };
    },
    methods: {
        open(id) {
            this.dialogVisible = true;
            this.redispatchId = id;
            this.selectedStaff = [];
            this.optionalStaff = [];
            this.queryUserByRedispatch(id);
        },
        queryReactSatff() {
            return new Promise((resolve, reject) => {
                const params = {
                    driverId: '',
                    endDate: '',
                    jobId: this.redispatchId,
                    jobStatus: '',
                    page: 0,
                    size: 0,
                    startDate: ''
                };
                queryJobUserApi(params).then(res => {
                    resolveRes(
                        res,
                        data => {
                            this.selectedStaff = data;
                            resolve(data);
                        },
                        () => {
                            reject();
                        }
                    );
                });
            });
        },
        queryFreeSatff() {
            return new Promise((resolve, reject) => {
                const params = {
                    endDate: '',
                    page: 0,
                    projectId: '',
                    roleId: '104',
                    size: 0,
                    startDate: '',
                    userMobile: '',
                    userName: '',
                    userState: '02'
                };
                jobbillQueryUser(params).then(res => {
                    resolveRes(
                        res,
                        data => {
                            this.optionalStaff = data;
                            resolve(data);
                        },
                        () => {
                            reject();
                        }
                    );
                });
            });
        },
        queryUserByRedispatch() {
            Promise.all([this.queryFreeSatff(), this.queryReactSatff()]).then(() => {
                this.value = [];
                this.deleteStaffId = [];
                this.addStaffId = [];
                const staff = [];

                this.optionalStaff.forEach(item => {
                    const obj = {
                        key: item.id,
                        label: item.userName
                    };
                    staff.push(obj);
                });

                const selectedValue = [];
                this.selectedStaff.forEach(item => {
                    selectedValue.push(item.driverId);
                    let flag = false;
                    if (item.jobStatus === '005') {
                        flag = false;
                    } else if (item.jobStatus === '006') {
                        flag = true;
                        this.deleteStaffId.push(item.driverId);
                    } else if (item.jobStatus === '002') {
                        flag = true;
                    }
                    const obj = {
                        key: item.driverId,
                        label: item.driverName + '(' + item.jobStatusName + ')',
                        disabled: flag
                    };
                    staff.push(obj);
                });
                this.total = selectedValue.length;
                this.rejectTotal = this.deleteStaffId.length;
                this.personList = staff;
                this.value = selectedValue;
            });
        },
        handleChange(value, direction, movedKeys) {
            movedKeys.forEach(item => {
                if (direction === 'left') {
                    this.deleteStaffId.push(item);
                } else if (direction === 'right') {
                    this.addStaffId.push(item);
                }
            });
        },
        redispatch() {
            if (this.deleteStaffId.length === this.addStaffId.length) {
                const params = {
                    jobId: this.redispatchId,
                    deleteStaffId: this.deleteStaffId,
                    addStaffId: this.addStaffId,
                    page: 0,
                    size: 0
                };
                jobbillRedispatch(params).then(res => {
                    resolveRes(res, () => {
                        this.$message({
                            message: '重新派发成功',
                            type: 'success'
                        });
                        this.dialogVisible = false;
                    });
                });
            } else if (this.deleteStaffId.length > this.addStaffId.length) {
                this.$message({
                    message: '请添加待接单农机手',
                    type: 'warning'
                });
            } else if (this.deleteStaffId.length < this.addStaffId.length) {
                this.$message({
                    message: '请移除待接单农机手',
                    type: 'warning'
                });
            }
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/taskManage.scss';
</style>
