<template>
    <div id="farmMachine" class="container">
        <fa-header ename="farmMachine"></fa-header>
        <div class="main">
            <div class="sideBar">
                <div class="searchBox">
                    <el-input
                        placeholder="请输入内容"
                        suffix-icon="el-icon-search"
                        v-model="searchContent"
                    >
                    </el-input>
                </div>
                <div class="treeBox">
                    <el-tree
                        :data="treeData"
                        node-key="id"
                        class="tree"
                        default-expand-all
                        :props="defaultProps"
                        ref="machTypeTree"
                        highlight-current
                        :expand-on-click-node="false"
                        @node-click="handleNodeClick"
                        :filter-node-method="filterNode"
                    >
                    </el-tree>
                </div>
            </div>
            <div class="subMain fa-scroll">
                <div class="filterBox">
                    <el-form :inline="true" :model="filterForm">
                        <el-form-item label="">
                            <el-input
                                v-model="filterForm.name"
                                placeholder="农机名称/编号"
                            ></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-input v-model="filterForm.admin" placeholder="管理员"></el-input>
                        </el-form-item>
                        <el-form-item label="添加时间">
                            <el-date-picker
                                v-model="filterForm.addTime"
                                type="daterange"
                                range-separator="-"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                class="w100"
                            >
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="filter">筛选</el-button>
                            <el-button @click="reset">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="content ">
                    <div class="hd">
                        <el-button type="primary" @click="openHandleDialog('')">
                            <i class="el-icon-plus logo"></i>添加农机
                        </el-button>
                        <el-button
                            @click="batchDeleteMachine()"
                            :disabled="deleteMachine.length === 0"
                            ><i class="el-icon-minus logo"></i>删除农机</el-button
                        >
                        <span class="divide"></span>
                        <el-button-group>
                            <el-button
                                v-for="(item, index) in machineStatusBtn"
                                :key="index"
                                :class="{ current: currentMachineStatus === item.name }"
                                @click="setCurrentTabStatus(item.name)"
                            >
                                {{ item.label }}({{ item.num }})
                            </el-button>
                        </el-button-group>
                    </div>
                    <!--                    .slice(-->
                    <!--                    (currentPage - 1) * pagesize,-->
                    <!--                    currentPage * pagesize-->
                    <!--                    )-->
                    <div class="bd">
                        <el-table
                            :data="farmMachineData"
                            highlight-current-row
                            class="w100"
                            stripe
                            @selection-change="handleSelectionChange"
                        >
                            <el-table-column type="selection" width="55"> </el-table-column>
                            <el-table-column prop="deviceCode" label="农机编号"> </el-table-column>
                            <el-table-column prop="deviceName" label="农机名称"> </el-table-column>
                            <el-table-column prop="deviceAccesstype" label="农机品牌信息">
                            </el-table-column>
                            <el-table-column prop="deviceCategoryName" label="农机分类">
                            </el-table-column>
                            <el-table-column prop="createTime" label="添加时间"> </el-table-column>
                            <el-table-column label="状态" width="120">
                                <template slot-scope="scope">
                                    <span
                                        @click="
                                            enterMachineEdit(
                                                scope.row.deviceCode,
                                                scope.row.info.deviceStatus
                                            )
                                        "
                                        v-if="scope.row.enterStatus"
                                        :class="scope.row.info.color"
                                        class="editBtn"
                                    >
                                        {{ scope.row.info.name }}
                                    </span>
                                    <el-select
                                        v-model="currentStatus"
                                        v-else
                                        @change="
                                            editMachineStatus(scope.row.deviceCode, currentStatus)
                                        "
                                        style="margin-left:-10px"
                                    >
                                        <el-option
                                            v-for="item in machineStatus"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                            <el-table-column prop="administratorsName" label="管理员">
                            </el-table-column>
                            <el-table-column label="操作" width="120">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="openHandleDialog(scope.row)"
                                        >修改</el-button
                                    >
                                    <el-button type="text" @click="delMachine([scope.row.id])"
                                        >删除</el-button
                                    >
                                </template>
                            </el-table-column>
                            <template slot="empty">
                                <div>暂无数据</div>
                            </template>
                        </el-table>
                        <el-pagination
                            class="pagination"
                            layout=" sizes, jumper, prev, pager, next, total"
                            @current-change="current_change"
                            @size-change="handleChangeSize"
                            :page-sizes="pageSizes"
                            :page-size="pagesize"
                            :total="dataTotal"
                        ></el-pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新建/修改农机 -->
        <el-dialog
            title="新建/修改农机"
            :visible.sync="handleDialog"
            width="600px"
            class="reLeaveDialog"
        >
            <el-form
                :model="handleForm"
                style="width:530px"
                label-width="120px"
                :rules="rules"
                ref="handleForm"
            >
                <!--                <el-form-item label="农机编号" prop="number">-->
                <!--                    <el-input v-model="handleForm.number" placeholder="请输入"></el-input>-->
                <!--                </el-form-item>-->
                <el-form-item label="农机名称" prop="name">
                    <el-input v-model="handleForm.name" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="农机品牌信息" prop="brandInfo">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入"
                        v-model="handleForm.brandInfo"
                        :disabled="handleForm.updateDisabled"
                    >
                    </el-input>
                </el-form-item>
                <el-form-item label="农机分类" prop="classify">
                    <el-select
                        v-model="handleForm.classify.label"
                        placeholder="请选择"
                        class="w100"
                        ref="classify"
                        filterable
                        :filter-method="filterMachineTypeTree"
                    >
                        <el-option
                            :value="handleForm.classify.label"
                            class="fa-scroll"
                            style="padding:0;height:auto;overflow:auto;background:#fff"
                        >
                            <el-tree
                                :data="treeData"
                                node-key="id"
                                class="tree"
                                default-expand-all
                                :props="defaultProps"
                                ref="updateMachTypeTree"
                                highlight-current
                                :filter-node-method="filterNode"
                                :expand-on-click-node="false"
                                @node-click="classifyTreeClick"
                            >
                            </el-tree>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="农机状态" prop="status">
                    <el-select
                        v-model="handleForm.status"
                        placeholder="请选择"
                        class="w100"
                        ref="status"
                    >
                        <el-option
                            v-for="item in machineStatus"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="管理员" prop="admin">
                    <el-select
                        v-model="handleForm.admin"
                        placeholder="请选择"
                        class="w100"
                        ref="status"
                    >
                        <el-option
                            v-for="item in adminList"
                            :key="item.id"
                            :label="item.label"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleDialog = false">取 消</el-button>
                <el-button type="primary" @click="saveOrUpdate('handleForm')">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
// import { adminList, classifyMachineList } from './mock';

import {
    pageMachApi,
    machTreeApi,
    deleteDeviceApi,
    saveDeviceApi,
    updateDeviceApi,
    deviceAdminApi,
    machCountApi
} from '@utils/getData';
import { resolveRes } from '@utils/utils';

export const validatorLable = (rule, value, callback) => {
    if (!value) {
        return callback(new Error(rule.message));
    }
    if (value.label) {
        callback();
    } else {
        return callback(new Error(rule.message));
    }
};
export default {
    name: '',
    props: [],
    components: { FaHeader },
    data() {
        return {
            searchContent: '',
            treeData: [],
            updateTreeData: [],
            // classifyMachineList: '',
            filterForm: { name: '', admin: '', addTime: [], deviceCategory: '' },
            handleForm: {
                number: '',
                name: '',
                brandInfo: '',
                classify: {
                    id: '',
                    label: ''
                },
                admin: '',
                status: '',
                updateDisabled: false
            },
            machineStatusBtn: [],
            currentMachineStatus: '',
            machineStatus: [
                {
                    value: '03',
                    label: '维修中'
                },
                {
                    value: '04',
                    label: '保养中'
                },
                {
                    value: '01',
                    label: '在用'
                },
                {
                    value: '02',
                    label: '空闲'
                }
            ],
            currentStatus: '',
            adminList: [],
            farmMachineData: [],
            handleDialog: false,
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            dataTotal: 20,
            enterStatus: true,
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            rules: {
                number: [{ required: true, message: '请输入农机编号', trigger: 'change' }],
                name: [{ required: true, message: '请输入农机名称', trigger: 'change' }],
                brandInfo: [{ required: true, message: '请输入农机品牌信息', trigger: 'change' }],
                classify: [
                    {
                        required: true,
                        message: '请选择农机分类',
                        validator: validatorLable,
                        trigger: 'change'
                    }
                ],
                admin: [{ required: true, message: '请输入管理员', trigger: 'change' }],
                status: [{ required: true, message: '请选择农机状态', trigger: 'change' }]
            },
            deleteMachine: []
        };
    },
    created() {
        this.getMachCount();
        this.getMachTreeApi();
        this.getMachinePage();
        this.getDeviceAdminApi();
    },
    // mounted() {},
    methods: {
        getMachCount() {
            machCountApi().then(res => {
                resolveRes(res, data => {
                    let count = 0;
                    data.forEach(item => {
                        count += item.num;
                    });
                    const obj = {
                        name: '',
                        label: '全部',
                        num: count
                    };
                    data.unshift(obj);
                    this.machineStatusBtn = data;
                });
            });
        },
        //农机树
        getMachTreeApi() {
            machTreeApi().then(res => {
                resolveRes(res, data => {
                    this.treeData = data;
                });
            });
        },
        //管理员
        getDeviceAdminApi() {
            deviceAdminApi().then(res => {
                resolveRes(res, data => {
                    this.adminList = data;
                });
            });
        },
        //分页展示农机
        getMachinePage() {
            const params = {
                deviceCategory: this.filterForm.deviceCategory,
                deviceName: this.filterForm.name,
                startDate:
                    this.filterForm.addTime[0] === undefined ? '' : this.filterForm.addTime[0],
                endDate: this.filterForm.addTime[1] === undefined ? '' : this.filterForm.addTime[1],
                deviceStatus: this.currentMachineStatus,
                size: this.pagesize,
                page: this.currentPage
            };
            pageMachApi(params).then(res => {
                resolveRes(res, data => {
                    const farmMachineData = data.list;
                    farmMachineData.forEach((val, index) => {
                        farmMachineData[index].enterStatus = true;
                        farmMachineData[index].info = this.machineStatusMap(val.deviceStatus);
                    });
                    this.farmMachineData = farmMachineData;
                    this.dataTotal = data.total;
                });
            });
        },
        handleNodeClick(val) {
            if (val.level === 1) {
                this.filterForm.deviceCategory = '';
            } else {
                this.filterForm.deviceCategory = val.id;
            }
            this.getMachinePage();
        },
        editMachineStatus(number, value) {
            this.handleForm.number = number;
            this.farmMachineData.forEach((val, index, arr) => {
                if (val.deviceCode === number) {
                    arr[index].enterStatus = true;
                    arr[index].info = this.machineStatusMap(value);
                    arr[index].deviceStatus = this.machineStatusMap(value).status;
                    this.handleForm.status = this.machineStatusMap(value).status;
                }
            });
            this.$nextTick(() => {
                this.updateDevice();
            });
        },
        enterMachineEdit(number, status) {
            this.currentStatus = status;
            this.farmMachineData.forEach((val, index, arr) => {
                val.enterStatus = true;
                if (val.deviceCode === number) {
                    arr[index].enterStatus = false;
                }
            });
        },
        machineStatusMap(val) {
            let info;
            switch (val) {
                case '03':
                    info = {
                        color: 'fontRed',
                        name: '维修中',
                        status: val
                    };
                    break;
                case '02':
                    info = {
                        color: 'fontGreen',
                        name: '空闲',
                        status: val
                    };
                    break;
                case '04':
                    info = {
                        color: 'fontYellow',
                        name: '保养中',
                        status: val
                    };
                    break;
                case '01':
                    info = {
                        color: 'fontGray',
                        name: '在用',
                        status: val
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        classifyTreeClick({ label }) {
            this.handleForm.classify.label = label;
            this.$refs.classify.blur();
        },
        // 管理员联想输入
        // querySearchAsync(queryString, cb) {
        //     const adminList = this.adminList;
        //     const results = queryString
        //         ? adminList.filter(this.createStateFilter(queryString))
        //         : adminList;
        //
        //     clearTimeout(this.timeout);
        //     this.timeout = setTimeout(() => {
        //         cb(results);
        //     }, 1000 * Math.random());
        // },
        createStateFilter(queryString) {
            return state => {
                return state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        setCurrentTabStatus(state) {
            this.currentMachineStatus = state;
            this.getMachinePage();
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
            this.getMachinePage();
        },
        handleChangeSize(pagesize) {
            this.currentPage = 1;
            this.pagesize = pagesize;
            this.getMachinePage();
        },
        filter() {
            this.getMachinePage();
        },
        reset() {
            this.filterForm.name = '';
            this.filterForm.admin = '';
            this.filterForm.addTime = [];
            this.getMachinePage();
        },
        filterNode(value, data) {
            if (!value) return true;
            return data.label.indexOf(value) !== -1;
        },
        filterMachineTypeTree(query) {
            this.$refs.updateMachTypeTree.filter(query);
        },
        handleSelectionChange(val) {
            val.forEach(item => {
                this.deleteMachine.push(item.id);
            });
        },
        batchDeleteMachine() {
            if (this.deleteMachine.length > 0) {
                this.delMachine(this.deleteMachine);
            } else {
                this.$message({
                    type: 'warning',
                    message: '选择删除的农机!'
                });
            }
        },
        delMachine(ids) {
            const params = {
                id: ids
            };
            this.$confirm('此操作将删除该农机, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    deleteDeviceApi(params).then(res => {
                        resolveRes(res, () => {
                            this.$message({
                                type: 'success',
                                message: '删除成功!'
                            });
                        });
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        openHandleDialog(row) {
            this.handleDialog = true;
            this.handleForm.number = '';
            this.handleForm.name = '';
            this.handleForm.brandInfo = '';
            this.handleForm.classify.label = '';
            this.handleForm.classify.id = '';
            this.handleForm.admin = '';
            this.handleForm.status = '';
            this.handleForm.updateDisabled = false;
            if (this.$refs['handleForm'] !== undefined) {
                this.$refs['handleForm'].resetFields();
            }
            if (row !== '') {
                this.handleForm.number = row.id;
                this.handleForm.name = row.deviceName;
                this.handleForm.brandInfo = row.deviceAccesstype;
                this.handleForm.classify.label = row.deviceCategoryName;
                this.handleForm.classify.id = row.deviceCategory;
                this.handleForm.admin = row.administrators;
                this.handleForm.status = row.deviceStatus;
                this.handleForm.updateDisabled = true;
            }
        },
        saveOrUpdate(handleForm) {
            this.$refs[handleForm].validate(valid => {
                if (valid) {
                    if (this.handleForm.number === '') {
                        this.saveDevice();
                    } else {
                        this.updateDevice();
                    }
                    this.handleDialog = false;
                } else {
                    return false;
                }
            });
        },
        saveDevice() {
            const params = {
                deviceName: this.handleForm.name,
                deviceAccesstype: this.handleForm.brandInfo,
                deviceCategory: this.handleForm.classify.id,
                administrators: this.handleForm.admin,
                deviceStatus: this.handleForm.status
            };
            saveDeviceApi(params).then(res => {
                resolveRes(res, () => {
                    this.$message({
                        type: 'success',
                        message: '新增成功!'
                    });
                });
            });
        },
        updateDevice() {
            const params = {
                id: this.handleForm.number,
                deviceName: this.handleForm.name,
                deviceAccesstype: this.handleForm.brandInfo,
                deviceCategory: this.handleForm.classify.id,
                administrators: this.handleForm.admin,
                deviceStatus: this.handleForm.status
            };
            updateDeviceApi(params).then(res => {
                resolveRes(res, () => {
                    this.$message({
                        type: 'success',
                        message: '修改成功!'
                    });
                });
            });
        }
    },
    watch: {
        searchContent(val) {
            this.$refs.machTypeTree.filter(val);
        }
    }
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/farmMachine';
@import '@assets/stylesheet/common';
</style>
