<template>
    <div class="container" id="intimeData">
        <fa-header ename="intimeData"></fa-header>
        <div class="main">
            <amap ref="map">
                <amap-polyline
                    v-for="path in paths"
                    :key="path.id"
                    :path="path.path"
                ></amap-polyline>
                <amap-marker
                    v-for="car in cars"
                    :key="'car' + car.id"
                    :position.sync="car.pos"
                    :angle.sync="car.angle"
                    :icon="car.icon"
                    :offset="car.offset"
                    ref="marker"
                ></amap-marker>
            </amap>
            <div class="cameraPanel">
                <div class="hd">
                    <div class="title">视频列表</div>
                    <el-select
                        v-model="equipment"
                        filterable
                        placeholder="请选择"
                        @change="equipmentChange"
                    >
                        <el-option
                            v-for="item in equipmentList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>
                </div>
                <div class="bd fa-scroll">
                    <ul>
                        <li v-for="(camera, index) in cameraList" :key="index">
                            <div v-show="!camera.switches" class="info">已关闭</div>
                            <div v-show="camera.switches">
                                <video
                                    :id="'my-video' + index"
                                    ref="player"
                                    class="video-js vjs-default-skin  vjs-big-play-centered"
                                    width="267"
                                    height="150"
                                    controls
                                    autoplay
                                >
                                    <source :src="camera.url" type="application/x-mpegURL" />
                                </video>
                            </div>

                            <div class="optBar">
                                <!--<div class="name">{{ camera.name }}</div>-->
                                <el-switch
                                    v-model="camera.switches"
                                    @change="switchChange($event, index)"
                                >
                                </el-switch>
                                <!--<span class="fullScreen" v-if="camera.switches">
                                    <i class="ct-font-fullscreen"></i>
                                </span>-->
                            </div>
                        </li>
                    </ul>
                    <table class="infoTable">
                        <tr>
                            <td class="label">油量</td>
                            <td>{{ currentEquipmentOption.oil }}</td>
                            <td class="label">坐标</td>
                            <td>{{ currentEquipmentOption.pos }}</td>
                        </tr>
                        <!--<tr>
                            <td class="label">地块</td>
                            <td>地块信息</td>
                            <td class="label">农机</td>
                            <td>拖拉机(编号)、拖拉机(002)</td>
                        </tr>
                        <tr>
                            <td class="label">农具</td>
                            <td colspan="3">农具名称(编号)、农具名称(102)</td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div>
        <!--选择摄像头-->
        <el-dialog
            title="添加摄像头"
            :visible.sync="dialogVisible"
            width="625px"
            class="cameraChooseDialog"
        >
            <el-transfer
                v-model="value"
                :data="cameraList"
                :titles="['摄像头列表', '已选']"
            ></el-transfer>
            <span slot="footer" class="dialog-footer footerOpt">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { loadPlugins } from '@amap/amap-vue';
import { cameraList } from './mock';
import log from '@utils/log';
/*const dx = path[1][0] - path[0][0];
const dy = path[1][1] - path[0][1];*/
import carIcon from '@assets/image/car.png';
import { host } from '@config/base';
import userId from '../../mixins/userId';
import videojs from 'video.js';
import 'videojs-contrib-hls';
import { jobbillList, listJobMachApplied, monitorOnOff } from '@utils/getData';
import { resolveRes } from '@utils/utils';
window.videojs = videojs;
export default {
    name: 'IntimeData',
    components: {
        FaHeader
    },
    mixins: [userId],
    data() {
        return {
            camera: '',
            cameraList: cameraList,
            dialogVisible: false,
            paths: [
                {
                    id: 1,
                    path: [
                        [119.688945, 32.474137],
                        [119.526306, 32.446383],
                        [119.647829, 32.326788],
                        [119.879909, 32.408593],
                        [119.688945, 32.474137]
                    ]
                },
                {
                    id: 2,
                    path: [
                        [118.688945, 32.474137],
                        [118.526306, 32.446383],
                        [118.647829, 32.326788],
                        [118.879909, 32.408593],
                        [118.688945, 32.474137]
                    ]
                }
            ],
            value: '',
            cars: [],
            jobId: '',
            equipment: '',
            equipmentList: [],
            ws: '',
            wsStatus: false,
            player: [],
            currentEquipmentOption: {
                oil: 0,
                pos: [0, 0]
            },
            currentEquipment: {}
        };
    },
    created() {
        if (this.taskList.length === 0) {
            this.getJobList().then(() => {
                if (this.$route.query.id) {
                    this.jobId = this.$route.query.id;
                    this.$store.commit('header/updateCurrentTaskId', this.jobId);
                }
                if (this.currentTaskId) {
                    this.jobId = this.currentTaskId;
                }
                this.createSocket();
            });
        } else {
            this.jobId = this.currentTaskId;
        }

        //this.getJobMachList();
    },
    methods: {
        chooseCamera() {
            this.dialogVisible = true;
        },
        async onCarReady(car, path) {
            log.info(car, path);
            await loadPlugins('AMap.MoveAnimation');
            car.moveAlong(path, {
                speed: 2000,
                circlable: false,
                autoRotation: true
            });
        },
        createSocket() {
            const url = `wss://${host}/socketServer/${sessionStorage.getItem('userId')}`;
            let ws;
            try {
                if ('WebSocket' in window) {
                    ws = new WebSocket(url);
                    this.ws = ws;
                    ws.addEventListener('message', event => {
                        const data = JSON.parse(event.data);
                        log.info('ws接受数据:', data);
                        if (this.equipment === data.id) {
                            this.currentEquipmentOption.oil = data.oil;
                            this.currentEquipmentOption.pos = [data.lon, data.lat];
                        }
                        const pathMap = {};
                        this.paths.forEach(path => {
                            pathMap[path.id] = path;
                        });
                        if (data.lon && data.lat) {
                            if (data.hostname in pathMap) {
                                pathMap[data.hostname].path.push([data.lon, data.lat]);
                            } else {
                                pathMap[data.hostname] = {
                                    id: data.hostname,
                                    path: [[data.lon, data.lat]]
                                };
                            }
                        }
                        this.paths = [];
                        for (const p in pathMap) {
                            if (pathMap.hasOwnProperty(p)) {
                                this.paths.push(pathMap[p]);
                            }
                        }
                        this.cars = [];
                        this.paths.forEach(path => {
                            const p = path.path;
                            if (p.length > 1) {
                                this.cars.push({
                                    pos: p[p.length - 2].slice(0),
                                    icon: {
                                        image: carIcon,
                                        imageSize: [26, 52]
                                    },
                                    offset: [-13, -26],
                                    path: p,
                                    id: path.id
                                });
                            } else {
                                this.cars.push({
                                    pos: p[0].slice(0),
                                    icon: {
                                        image: carIcon,
                                        imageSize: [26, 52]
                                    },
                                    offset: [-13, -26],
                                    path: p,
                                    id: path.id
                                });
                            }
                        });
                        //log.info(this.paths);
                        this.$nextTick(() => {
                            //log.info(this.$refs.marker);
                            // 保证marker加载成功再调用动画
                            this.$refs.marker &&
                                this.$refs.marker.forEach((marker, i) => {
                                    marker.$context.ready.then(() => {
                                        //log.info(marker.$target);
                                        // 取path的最后两点 来增加动画
                                        const path = this.paths[i].path;
                                        let p = [];
                                        if (path.length > 1) {
                                            p = [path[path.length - 2], path[path.length - 1]];
                                            marker.$target.moveAlong(p, {
                                                speed: 2000,
                                                circlable: false,
                                                autoRotation: true
                                            });
                                        }
                                    });
                                });
                        });
                    });
                    ws.onopen = WSonOpen;
                    // ws.onmessage = WSonMessage;
                    ws.onclose = WSonClose;
                    ws.onerror = WSonError;
                }
            } catch (ex) {
                log.error(ex, 'ERROR');
            }
            function WSonOpen() {
                log.info('连接已经建立。', 'OK');
                this.wsStatus = true;
                ws.send(this.jobId);
            }
            /*let paths = this.paths;
            let cars = this.cars;
            function WSonMessage(event) {

            }*/

            function WSonClose(event) {
                log.info(event.data);
            }

            function WSonError() {
                log.error('远程连接中断。', 'ERROR');
            }
        },
        getJobList() {
            return new Promise((resolve, reject) => {
                jobbillList(this.jobQueryParam)
                    .then(res => {
                        resolveRes(res, data => {
                            const taskList = [];
                            data.list.forEach(d => {
                                taskList.push({
                                    value: d.id,
                                    label: d.jobName
                                });
                            });
                            this.$store.commit('header/updateTaskList', taskList);
                            this.$nextTick(() => {
                                this.$store.commit('header/updateCurrentTaskId', this.jobId);
                                resolve();
                            });
                        });
                    })
                    .catch(() => {
                        reject();
                    });
            });
        },
        getJobMachList() {
            listJobMachApplied(this.equipmentQueryParam).then(res => {
                resolveRes(res, data => {
                    log.info(data);
                    this.equipmentList = [];
                    data.forEach(d => {
                        this.equipmentList.push({
                            id: d.machineId,
                            name: d.machineName,
                            cameraList: d.cameraList
                        });
                    });
                    if (this.equipmentList.length > 0) {
                        /*this.equipmentList.forEach(e => {
                            e.cameraList.forEach(c => {
                                c.switches = true;
                            });
                        });*/
                        this.$nextTick(() => {
                            this.currentEquipment = this.equipmentList[0];
                            this.equipment = this.currentEquipment.id;
                            this.cameraList = this.currentEquipment.cameraList;
                            this.$nextTick(() => {
                                if (this.player.length < 2) {
                                    // 第一次加载
                                    this.initVideoJs();
                                } else {
                                    this.changePlayerSrc();
                                }
                            });
                        });
                    }
                });
            });
        },
        switchChange(flag, index) {
            log.info('switchChange', flag, index);
            if (flag) {
                this.player[index].play();
            } else {
                this.player[index].pause();
            }
            const camera = this.cameraList[index];
            camera.switches = flag;
            const param = {
                hostname: this.currentEquipment.hostname,
                cameraId: index + 1,
                onoff: flag ? 1 : 2
            };
            this.closeCamera(param);
        },
        closeCamera(param) {
            return new Promise((resolve, reject) => {
                monitorOnOff(param)
                    .then(res => {
                        resolveRes(
                            res,
                            data => {
                                resolve(data);
                            },
                            () => {
                                reject();
                            }
                        );
                    })
                    .catch(() => {
                        reject();
                    });
            });
        },
        initVideoJs() {
            // videojs 加载慢 的问题 网上查的貌似没别的好的解决办法
            setTimeout(() => {
                this.cameraList.forEach((c, i) => {
                    const player = videojs('my-video' + i, {
                        bigPlayButton: true,
                        autoplay: true,
                        textTrackDisplay: true,
                        posterImage: false,
                        errorDisplay: false,
                        controlBar: false,
                        playbackRates: [0.5, 1, 1.5, 2],
                        ControlBar: {
                            customControlSpacer: true
                        }
                    });
                    this.player.push(player);
                });
                /*this.player.forEach(player => {
                    player.ready(function() {
                        this.play();
                    });
                });*/
            }, 500);
        },
        equipmentChange(val) {
            const equipment = this.equipmentList.find(e => {
                return e.id === val;
            });
            this.currentEquipment = equipment;
            this.cameraList = equipment.cameraList;
            this.changePlayerSrc();
            // 找到websocket中的车定位
            const currentCar = this.cars.find(car => {
                return car.id === val;
            });
            if (currentCar) {
                this.$ref.map.$map.setCenter([currentCar.pos[0], currentCar.pos[1]]);
            }
        },
        async changePlayerSrc() {
            await this.$nextTick();
            this.cameraList.forEach((camera, i) => {
                const url = camera.url;
                const player = this.player[i];
                player.src(url);
            });
        }
    },
    watch: {
        '$store.state.header.taskId'(val) {
            //log.info(val);
            this.jobId = val;
            log.info('切换id', this.jobId);
        },
        jobId(val) {
            if (val) {
                this.getJobMachList();
                if (this.wsStatus) {
                    this.ws.send(val);
                }
            }
        }
    },
    computed: {
        currentTaskId() {
            return this.$store.state.header.taskId;
        },
        taskList() {
            return this.$store.state.header.taskList;
        },
        equipmentQueryParam() {
            return {
                endDate: '',
                jobId: this.jobId,
                machineId: '',
                page: 1,
                size: 0,
                startDate: ''
            };
        },
        jobQueryParam() {
            return {
                endDate: '',
                jobName: '',
                jobStatus: '',
                jobType: '',
                page: 0,
                size: 0,
                startDate: ''
            };
        }
    },
    destroyed() {
        this.player.forEach(player => {
            player.dispose();
            //log.info(player);
        });
        if (this.ws) {
            this.ws.close();
        }
        log.info(this.ws);
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/intimeData.scss';
</style>
