<template>
    <el-dialog
        :title="type === 'add' ? '添加地块' : '修改地块'"
        :visible.sync="dialogVisible"
        width="500px"
        class="farmlandEditDialog"
        @contextmenu.prevent=""
    >
        <el-form label-width="80px" :model="form" :rules="rules" ref="form">
            <el-form-item label="地块名称" required prop="name">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="地块编号" required v-show="type !== 'add'">
                <el-input v-model="form.index" disabled></el-input>
            </el-form-item>
            <el-form-item label="地块地址">
                <el-input v-model="form.address"></el-input>
            </el-form-item>
            <el-form-item label="作物分类" required prop="classify">
                <el-select v-model="form.classify" placeholder="请选择">
                    <el-option
                        v-for="item in classList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="地块分类" required prop="gridType">
                <el-select v-model="form.gridType" placeholder="请选择">
                    <el-option
                        v-for="item in gridTypeList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="地块面积">
                <el-input v-model="form.area" readonly>
                    <template slot="append">公顷</template>
                </el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取消</el-button>
            <el-button type="primary" @click="save">确定</el-button>
        </span>
    </el-dialog>
</template>

<script>
import { getDataDictionarys, saveGrid } from '@utils/getData';
import { resolveRes } from '@utils/utils';
import log from '@utils/log';

export default {
    name: 'FarmlandEdit',
    data() {
        return {
            defaultProps: {
                children: 'children',
                label: 'labelName'
            },
            dialogVisible: false,
            form: {
                name: '',
                index: '',
                area: '',
                classify: '',
                gridType: '',
                id: '',
                centerX: 0,
                centerY: 0,
                address: ''
            },
            classList: [],
            gridTypeList: [],
            rules: {
                name: [
                    { required: true, message: '请输入地块名称', trigger: 'blur' },
                    { min: 3, max: 10, message: '长度在 2 到 15 个字符', trigger: 'blur' }
                ],
                classify: [{ required: true, message: '请选择作物分类', trigger: 'blur' }],
                gridType: [{ required: true, message: '请选择地块分类', trigger: 'blur' }]
            }
        };
    },
    props: {
        type: {
            type: String
        },
        gridData: {
            type: Object
        }
    },
    created() {
        this.getClassList();
    },
    methods: {
        handleNodeClick(data) {
            //点击树
            this.form.classify = data.labelName;
        },
        open() {
            this.dialogVisible = true;
        },
        getClassList() {
            getDataDictionarys(this.dictionaryParam).then(res => {
                resolveRes(res, data => {
                    data.forEach(d => {
                        if (d.typename === 'db_planttype') {
                            this.classList = d.dictionaryList;
                        } else if (d.typename === 'db_fieldtype') {
                            this.gridTypeList = d.dictionaryList;
                        }
                    });
                    log.info(this.classList);
                });
            });
        },
        save() {
            this.$refs.form.validate(valid => {
                if (valid) {
                    const tip = this.type === 'add' ? '添加' : '修改';
                    saveGrid(this.saveParam).then(
                        res => {
                            resolveRes(res, data => {
                                this.dialogVisible = false;
                                this.$message({
                                    message: `${tip}成功`,
                                    type: 'success'
                                });
                                this.$emit('success', data);
                            });
                        },
                        () => {
                            this.dialogVisible = false;
                            this.$message.error(`${tip}失败`);
                        }
                    );
                } else {
                    return false;
                }
            });
        }
    },
    watch: {
        gridData: {
            handler(val) {
                this.$refs.form && this.$refs.form.resetFields();
                this.form.name = val.gridFullname;
                this.form.index = val.gridCode;
                this.form.area = val.fidSize;
                this.form.classify = val.fidPlant
                    ? val.fidPlant
                    : this.classList.length > 0
                    ? this.classList[0].id
                    : '';
                this.form.gridType = val.fidType
                    ? val.fidType
                    : this.gridTypeList.length > 0
                    ? this.gridTypeList[0].id
                    : '';
                this.form.id = val.id;
                const grids = [];
                val.path.forEach((pos, i) => {
                    grids.push({
                        posIndex: i,
                        posX: pos[0],
                        posY: pos[1]
                    });
                });
                this.form.grids = grids;
                this.form.centerX = val.gridcenterX;
                this.form.centerY = val.gridcenterY;
                this.form.address = val.address;
                log.info('编辑地块', val);
                log.info('编辑地块表单', this.form);
            },
            deep: true
            //this.form.classId = val.fidPlant;
        }
    },
    computed: {
        saveParam() {
            return this.type === 'add'
                ? {
                      fidAddr: '',
                      fidPlant: this.form.classify,
                      fidSize: this.form.area,
                      fidType: this.form.gridType,
                      gridLeaderID: '',
                      gridName: this.form.name,
                      gridPos: this.form.grids,
                      gridcenterX: this.form.centerX,
                      gridcenterY: this.form.centerY,
                      id: '',
                      superiorGridid: ''
                  }
                : {
                      fidAddr: '',
                      fidPlant: this.form.classify,
                      fidSize: this.form.area,
                      fidType: this.form.gridType,
                      gridLeaderID: '',
                      gridName: this.form.name,
                      gridPos: this.form.grids,
                      gridcenterX: this.form.centerX,
                      gridcenterY: this.form.centerY,
                      id: this.form.id,
                      superiorGridid: ''
                  };
        },
        dictionaryParam() {
            return {
                dbNames: ['db_planttype', 'db_fieldtype']
            };
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/farmlandManage.scss';
</style>
