<template>
    <div class="container" ref="container">
        <fa-header ename="farmlandManage"></fa-header>
        <amap ref="map" @complete="mapComplete" async>
            <amap-polygon
                v-for="grid in grids"
                :key="grid.id"
                :path.sync="grid.path"
                :fill-color="fill"
                :fill-opacity="0.5"
                :stroke-color="stroke"
                :draggable="draggable"
                :editable="grid.editable"
                @click="gridClick(grid)"
                ref="polygon"
            ></amap-polygon>
            <amap-mouse-tool
                :mode.sync="mode"
                ref="mapTool"
                @draw="onDraw"
                :clear-when-close="clearWhenClose"
            ></amap-mouse-tool>
        </amap>
        <div class="main">
            <div class="managePanel">
                <div class="hd">
                    <el-button type="primary" @click="addClassify"
                        >添加分类<i class="ct-font-plus"></i
                    ></el-button>
                    <el-button type="success">导入<i class="ct-font-import"></i></el-button>
                    <el-button type="success">导出<i class="ct-font-export"></i></el-button>
                </div>
                <div class="bd fa-scroll">
                    <div class="filterBox">
                        <el-input placeholder="搜索地块" v-model="filterText"></el-input>
                    </div>
                    <el-tree
                        ref="tree"
                        :data="data"
                        nodeKey="id"
                        :props="defaultProps"
                        default-expand-all
                        highlight-current
                        :filter-node-method="filterNode"
                        @node-click="handleNodeClick"
                    >
                        <span class="custom-tree-node" slot-scope="{ node, data }">
                            <span>{{ node.label }}</span>
                            <span v-if="data.gridCode">
                                <el-button
                                    type="text"
                                    size="mini"
                                    @click.stop="() => deleteGrid(node, data)"
                                >
                                    删除
                                </el-button>
                            </span>
                        </span>
                    </el-tree>
                </div>
            </div>
        </div>
        <!--添加-->
        <el-dialog title="添加分类" :visible.sync="dialogVisible" width="500px">
            <el-form label-width="80px">
                <el-form-item label="父级分类" required>
                    <el-input v-model="classify.parent"></el-input>
                </el-form-item>
                <el-form-item label="分类名称" required>
                    <el-input v-model="classify.name"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确定</el-button>
            </span>
        </el-dialog>
        <el-row class="buttonGroup">
            <el-button type="primary" size="small" @click="addDraw" v-show="!isShow"
                >添加地块</el-button
            >
            <el-button type="warning" size="small" @click="closeDraw" v-show="isShow"
                >关闭绘图</el-button
            >
        </el-row>
        <!--添加/修改地块-->
        <farmland-edit
            ref="edit"
            :treeData="data"
            :type="type"
            :gridData="currentGrid"
            @contextmenu.prevent=""
            @success="saveSuccess"
        >
        </farmland-edit>
    </div>
</template>

<script>
//import { treeData } from './mock';
import FaHeader from '@components/FaHeader';
import FarmlandEdit from './FarmlandEdit';
import { getGridTreeByPlantId, getGridById, deleteGridById } from '@utils/getData';
import { getCenterPos, resolveRes } from '@utils/utils';
import log from '@utils/log';
import userId from '../../mixins/userId';
import projectId from '../../mixins/projectId';

export default {
    name: 'FarmlandManage',
    components: {
        FaHeader,
        FarmlandEdit
    },
    mixins: [userId, projectId],
    data() {
        return {
            data: [],
            defaultProps: {
                children: 'children',
                label: 'labelName'
            },
            currentTreeData: '',
            filterText: '',
            dialogVisible: false,
            classify: {
                parent: '',
                name: ''
            },
            path: null,
            editable: true,
            draggable: false,
            fill: '#409EFF',
            stroke: '#000A58',
            grids: [],
            mode: '',
            clearWhenClose: true,
            type: 'add',
            currentGrid: {}
        };
    },
    created() {
        this.getGridTreeAndSetCurrent();
        /*this.getGridTreeByPlantId().then(data => {
            //data.children[0].children[0].id;
            this.$nextTick(() => {
                this.setCurrentTreeNode(data.children[0].children[0].id);
            });
        });*/
    },
    methods: {
        handleNodeClick(data) {
            //点击树
            log.info(data);
            this.currentTreeData = data;
            this.getById();
        },
        setCurrentTreeNode(id) {
            const node = this.$refs.tree.getNode(id);
            node.isCurrent = true;
            this.currentTreeData = node.data;
            this.$refs.tree.setCurrentKey(id);
            this.handleNodeClick(this.currentTreeData);
        },
        addClassify() {
            this.dialogVisible = true;
        },
        getGridTreeByPlantId() {
            return new Promise((resolve, reject) => {
                getGridTreeByPlantId(this.listByPlantCodeParam).then(res => {
                    resolveRes(
                        res,
                        data => {
                            this.data = data.children;
                            log.info(data);
                            log.info(this.projectId);
                            resolve(data);
                        },
                        () => {
                            reject();
                        }
                    );
                });
            });
        },
        getById() {
            this.grids = [];
            getGridById(this.getGridByIdParam).then(res => {
                resolveRes(res, data => {
                    log.info('地块信息', data);
                    const grids = data;
                    if (grids.constructor === Array) {
                        this.grids = grids;
                    } else {
                        this.grids = [grids];
                    }
                    this.grids.forEach(grid => {
                        const path = [];
                        grid.gridPos.forEach(pos => {
                            path.push([pos.posX, pos.posY]);
                        });
                        grid.path = path;
                        grid.editable = true;
                    });
                    this.$nextTick(() => {
                        if (this.$refs.map.$map) {
                            this.$refs.map.$map.setCenter([
                                this.grids[0].gridcenterX,
                                this.grids[0].gridcenterY
                            ]);
                        }
                        this.mapComplete();
                    });
                });
            });
        },
        async mapComplete() {
            await this.$nextTick();
            const target = this.$refs.polygon && this.$refs.polygon.map(p => p.$target);
            if (target) {
                log.info(this.$refs.map);
                this.$refs.map.$context.ready.then(() => {
                    this.$refs.map.$context.target.setFitView(target);
                });
            }
        },
        onDraw(type, result) {
            log.info(type, result);
            this.mode = '';
            const Amap = this.$refs.map.$amap.context.AMap;
            const area = Amap.GeometryUtil.ringArea(result);
            const centerPos = getCenterPos(result, Amap);
            log.info(area);
            // 弹窗与 右键结束绘图冲突 为了避免冲突
            setTimeout(() => {
                if (this.type === 'add') {
                    this.currentGrid = {
                        fidSize: area / 10000,
                        path: result,
                        gridcenterX: centerPos.lng,
                        gridcenterY: centerPos.lat
                    };
                }
                this.$refs.edit.open();
            }, 200);
        },
        addDraw() {
            this.mode = 'polygon';
            this.type = 'add';
        },
        closeDraw() {
            this.mode = '';
            //this.clearWhenClose = false;
        },
        gridClick(val) {
            this.type = 'edit';
            const Amap = this.$refs.map.$amap.context.AMap;
            const area = Amap.GeometryUtil.ringArea(val.path);
            const centerPos = getCenterPos(val.path, Amap);
            val.fidSize = area / 10000;
            val.gridcenterX = centerPos.lng;
            val.gridcenterY = centerPos.lat;
            log.info(val);
            this.currentGrid = Object.assign({}, this.currentGrid, val);
            this.$refs.edit.open();
        },
        filterNode(value, data) {
            if (!value) return true;
            return data.labelName.indexOf(value) !== -1;
        },
        saveSuccess(data) {
            this.getGridTreeByPlantId().then(() => {
                this.setCurrentTreeNode(data.id);
                //this.handleNodeClick(this.currentTreeData);
            });
        },
        deleteGrid(node, data) {
            this.$confirm('确定要删除改地块?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    deleteGridById({ gridId: data.id }).then(res => {
                        resolveRes(
                            res,
                            () => {
                                /*const parent = node.parent;
                                const children = parent.data.children || parent.data;
                                const index = children.findIndex(d => d.id === data.id);
                                children.splice(index, 1);*/
                                this.getGridTreeAndSetCurrent();
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            },
                            () => {
                                this.$message.error('删除失败');
                            }
                        );
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        getGridTreeAndSetCurrent() {
            this.getGridTreeByPlantId().then(data => {
                if (data.children.length > 0) {
                    // 第一个分类的第一个节点， 没有地块的作物不显示所以就这样写了
                    this.setCurrentTreeNode(data.children[0].children[0].id);
                }
                //this.handleNodeClick(this.currentTreeData);
            });
        }
    },
    computed: {
        listByPlantCodeParam() {
            return {
                plantId: ' ',
                level: 0
            };
        },
        getGridByIdParam() {
            return {
                id: this.currentTreeData.id
            };
        },
        isShow() {
            return this.mode === 'polygon';
        },
        $map() {
            return this.$refs.map.$map;
        }
    },
    watch: {
        filterText(val) {
            this.$refs.tree.filter(val);
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/farmlandManage.scss';
</style>
