@import '../font/font';

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    min-width: 1280px;

    .header {
        flex: 0 0 80px;
    }

    .main {
        flex: 1;
        min-height: 0;
    }
}

.fa-scroll {
    &::-webkit-scrollbar {
        width: 6px;

        &:horizontal {
            height: 6px;
        }

        &-thumb {
            border-radius: 5px;
            width: 6px;
            background: #b4bccc;
        }

        &-corner {
            background: transparent;
        }

        &-track {
            background: transparent;

            &-piece {
                background: transparent;
                width: 6px;
            }
        }
    }
}

/deep/.tab {
    flex: 1;
    .el-tabs__header {
        margin: 0;
        padding: 20px 30px 0 30px;
    }
    .is-active {
        background-color: #fff;
    }
}

/deep/.pagination {
    .btn-prev,
    .el-pager li,
    .btn-next {
        background-color: transparent;
    }
}
.w50 {
    width: 50%;
    float: left;
}

.w100 {
    width: 100% !important;
}
a {
    color: #409eff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.fontRed {
    color: #f56c6c;
}

.fontGreen {
    color: #67c23a;
}

.fontYellow {
    color: #e6a23c;
}

.fontGray {
    color: #888;
}
.fontBlue {
    color: #409eff;
}
.timeSelect {
    /deep/ * {
        box-sizing: content-box;
    }
}

.infoTable {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #ebeef5;
    td {
        height: 46px;
        padding: 10px 25px;
        border-bottom: 1px solid #ebeef5;
        &.label {
            width: 120px;
            color: #838890;
            background: #f2f8ff;
        }
    }
}
