#driver,
#workList,
#leaveApply,
#employHistory,
#projectManage,
#adminManage {
    background: #f7f7f7;
    .main {
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
    .filterBox {
        flex: 0 0 80px;
        display: flex;
        padding: 0 30px;
        align-items: center;
        border-bottom: solid 1px #d8d8d8;
        box-shadow: 0 1px 3px 0 #d8d8d8;
        background: #fff;
        .el-form-item {
            margin-bottom: 0;
        }
    }
    .content {
        flex: 1;
        padding: 20px 30px;
        .hd {
            margin-bottom: 20px;
            .logo {
                margin-right: 5px;
                font-size: 16px;
                vertical-align: -1px;
            }
            .current {
                color: #fff;
                background-color: #409eff;
                border-color: #409eff;
            }
            .divide {
                display: inline-block;
                margin: 0 10px;
                width: 1px;
                height: 28px;
                border: 1px dashed #dcdfe6;
                box-sizing: border-box;
                vertical-align: middle;
            }
        }
    }
}
.pagination {
    margin-top: 10px;
}
#workList {
    .tag {
        border-radius: 16px;
    }
}
