#farmMachine,
#farmTools,
#terminal {
    background: #f7f7f7;
    .main {
        display: flex;
        min-width: 1388px;
    }
}
.sideBar {
    display: flex;
    flex-flow: column;
    flex: 0 0 280px;
    border-right: solid 1px #97b8e6;
    background: #dfefff;
    box-shadow: 2px 0 5px 0 #dcdbdb;
    overflow: auto;
    .searchBox {
        flex: 0 0 80px;
        padding: 0px 10px;
        display: flex;
        flex-flow: column;
        border-bottom: solid 1px #97b8e6;
        justify-content: center;
    }
    .treeBox {
        flex: 1;
        padding: 10px;
        overflow: auto;
        height: auto;
    }
}
.subMain {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: auto;
    .filterBox {
        flex: 0 0 80px;
        display: flex;
        padding: 0 30px;
        align-items: center;
        border-bottom: solid 1px #d8d8d8;
        box-shadow: 0 1px 3px 0 #d8d8d8;
        background: #fff;
        .el-form-item {
            margin-bottom: 0;
        }
    }
    .content {
        flex: 1;
        padding: 20px 30px;
        .hd {
            margin-bottom: 20px;
            .logo {
                margin-right: 5px;
                font-size: 16px;
                vertical-align: middle;
            }

            .bind {
                float: right;
                margin-top: 8px;
            }
            .current {
                color: #fff;
                background-color: #409eff;
                border-color: #409eff;
            }
            .divide {
                display: inline-block;
                margin: 0 10px;
                width: 1px;
                height: 28px;
                border: 1px dashed #dcdfe6;
                box-sizing: border-box;
                vertical-align: middle;
            }
        }
        .bd {
            .editBtn {
                cursor: pointer;
            }
        }
    }
}
/deep/.tree {
    color: #333333;
    font-weight: 500;
    background-color: inherit;
    .el-tree-node:focus > .el-tree-node__content {
        background-color: #207ef9 !important;
        color: #fff;
        z-index: 10;
    }
    .el-tree-node__content:hover {
        background-color: #a8cdff !important;
    }
}
