.main {
    position: fixed;
    top: 60px;
    bottom: 60px;
}
.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}
.managePanel {
    width: 400px;
    position: absolute;
    top: 30px;
    left: 50px;
    bottom: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);

    .hd {
        flex: 0 0 64px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: #ebf0f7;
        i {
            margin-left: 5px;
        }
    }

    .bd {
        overflow-y: auto;
        flex: 1;
        min-height: 0;

        .filterBox {
            padding: 15px 15px 10px;
        }
    }
}
.buttonGroup {
    position: fixed;
    top: 90px;
    right: 60px;
}
.chooseTreePanel {
    overflow-y: auto;
    height: 200px;
}
