#guidance {
    background: url('~@assets/image/bg.png') bottom center;
    font-size: 16px;

    .header {
        position: relative;
        .userWrap {
            color: #fff;
            height: 30px;
            line-height: 1.5;
            font-size: 14px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
        }
    }

    .logo {
        flex: 0 0 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 56px;
        font-family: '黑体';
        color: #fff;
        text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3), 3px 0 0 rgba(0, 0, 0, 0.3),
            0 0 4px rgba(0, 0, 0, 0.3);

        img {
            margin-right: 20px;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        padding: 0 200px;
        overflow-y: auto;

        .tip {
            flex: 0 0 60px;
            font-size: 20px;
            color: #fff;
        }

        .projectList {
            flex: 1;
            min-height: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                cursor: pointer;
                width: 350px;
                height: 500px;
                margin-bottom: 20px;
                padding: 0 50px;
                background: #fff;
                text-align: center;

                &:hover {
                    box-shadow: 0 0 0 2px #005dff inset, 0 0 20px 3px rgba(0, 0, 0, 0.3);
                }

                .title {
                    margin: 35px 0 20px;
                    font-size: 26px;
                    text-align: center;
                    line-height: 50px;
                }

                img {
                    margin: 0 auto 10px;
                    width: 157px;
                    height: 174px;
                }

                .info {
                    margin-top: 10px;
                    color: #566b84;
                    display: flex;
                    .key {
                        flex: 0 0 76px;
                        margin-right: 5px;
                        text-align: right;
                    }

                    .value {
                        overflow: hidden;
                        text-align: left;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}
