.main {
    position: relative;

    .panel {
        display: flex;
        flex-direction: column;
        height: 250px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);

        .hd {
            flex: 0 0 50px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 18px;
            background: #ebf0f7;
        }

        .bd {
            overflow-y: auto;
            flex: 1;
            min-height: 0;
        }
    }
}

.toolList {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 240px;

    li {
        margin: 5px 0;
        display: flex;
        align-items: center;

        &.hide {
            color: #888;

            .colorBlock {
                display: none;
            }
        }
    }

    .label {
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }

    .colorBlock {
        width: 40px;
        height: 5px;
    }
}

.toolLine {
    position: absolute;
    bottom: 20px;
    left: 280px;
    right: 20px;

    #lineChart {
        width: 100%;
        height: 100%;
    }
}

.slidePhoto {
    width: 300px;
    position: absolute;
    top: 30px;
    right: 50px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);

    .hd {
        flex: 0 0 64px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: #ebf0f7;
        i {
            margin-left: 5px;
        }

        .title {
            flex: 1;
            font-size: 18px;
        }

        .tip {
            margin-left: 20px;
        }
    }

    .bd {
        overflow-y: auto;
        flex: 1;
        min-height: 0;
        padding: 20px;
        .content {
            width: 100%;
            height: 200px;
            position: relative;
            img {
                width: 100%;
                height: 150px;
            }
            .controls {
                position: absolute;
                bottom: 10px;
                left: 10px;
                font-size: 36px;
            }
        }
    }
    .radioBox {
        margin-bottom: 10px;
    }
}
