body {
    font: 14px/2 'Microsoft YaHei';
}

.el-dialog__header {
    background: linear-gradient(90deg, #1271ed, #469bf3);
    .el-dialog__title {
        color: #fff;
    }

    .el-dialog__headerbtn .el-dialog__close {
        color: #fff;
        font-size: 22px;
        &:hover {
            color: rgba($color: #fff, $alpha: 0.7);
        }
    }
}
