.main {
    position: relative;
}

.cameraPanel {
    width: 600px;
    position: absolute;
    top: 30px;
    right: 50px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);

    .hd {
        flex: 0 0 64px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: #ebf0f7;
        i {
            margin-left: 5px;
        }

        .title {
            flex: 1;
            font-size: 18px;
        }

        .tip {
            margin-left: 20px;
        }
    }

    .bd {
        overflow-y: auto;
        flex: 1;
        min-height: 0;
        padding: 20px;
        ul {
            display: flex;
            justify-content: space-between;
        }
        li {
            width: 267px;
            margin-bottom: 20px;
            height: 150px;
            position: relative;
            background: #58595a;

            .info {
                display: flex;
                align-items: center;
                color: #fff;
                height: 100%;
                justify-content: center;
            }

            .optBar {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 40px;
                background: rgba(0, 0, 0, 0.3);
                display: flex;
                align-items: center;
                padding: 0 12px;
                color: #fff;

                .name {
                    margin-right: 20px;
                }

                .fullScreen {
                    flex: 1;
                    text-align: right;

                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
