#login {
    flex: 1;
    background: url('~@assets/image/login/bg.png') no-repeat;
    background-size: 100% 100%;
    .logo {
        position: absolute;
        left: 65px;
        top: 55px;
        line-height: normal;
        font-size: 32px;
        font-weight: bold;
        text-shadow: 0 2px 15px #052874;
        color: #fff;
        img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            vertical-align: -10px;
        }
    }

    .panel {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1380px;
        height: 700px;
        background: url('~@assets/image/login/pic.png') center right no-repeat #fff;
        box-shadow: 0 0 40px 3px #015cd6;
        border-radius: 5px;

        .wrap {
            width: 380px;
            height: 360px;
            margin-top: 160px;
            margin-left: 130px;
            h2 {
                font-size: 32px;
                text-align: center;
            }

            .form {
                .formItem {
                    margin-bottom: 30px;
                    input[type='text'],
                    input[type='password'] {
                        height: 48px;
                    }
                    /deep/ i {
                        font-size: 16px;
                        &.ct-font-lock {
                            padding-top: 4px;
                        }
                    }
                }
            }

            .loginBtn {
                margin-top: 20px;
                width: 100%;
                height: 60px;
                font-size: 22px;
            }
        }
    }
}
