#statistics {
    display: flex;
    flex-flow: column;
    flex: 1;
    background: #fafafa;

    .main {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 30px;

        .topBox {
            display: flex;
            margin-bottom: 30px;
            li {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                padding: 0 50px;
                margin: 0 30px 0 0;
                border-radius: 3px;
                color: #fff;
                box-shadow: 0 0 10px 1px #ededed;
                height: 150px;
                > * {
                    position: relative;
                    z-index: 1;
                }
                .text {
                    text-align: center;
                    line-height: 40px;
                    > * {
                        display: block;
                    }
                }
                .name {
                    font-size: 20px;
                }
                .num {
                    font-size: 38px;
                }
                &:nth-child(1) {
                    background: url('~@assets/image/statistics/blue.png') center #0fe5eb;
                    background-size: cover;
                }
                &:nth-child(2) {
                    background: url('~@assets/image/statistics/purple.png') center #afc5ff;
                    background-size: cover;
                }
                &:nth-child(3) {
                    margin-right: 0;
                    background: url('~@assets/image/statistics/red.png') center #ffb546;
                    background-size: cover;
                }
                &:after {
                    position: absolute;
                    height: 119px;
                    left: 0;
                    right: 0;
                    content: '';
                    background: url('~@assets/image/statistics/mask.png');
                    background-size: cover;
                }
            }
        }

        .modelBox {
            flex: 1;
            display: flex;
            overflow: hidden;
            .model {
                display: flex;
                flex-flow: column;
                flex: 1;
                margin-right: 30px;
                border: 1px solid #e9eef6;
                box-shadow: 0 0 10px 0 rgba(233, 238, 246, 0.8);
                background: #fff;
                overflow: hidden;
                &:last-child {
                    margin-right: 0;
                }
                .modelHd {
                    height: 62px;
                    line-height: 62px;
                    border-bottom: 1px solid #eceff4;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    overflow: hidden;
                }
                .modelBd {
                    flex: 1;
                    display: flex;
                    .chart {
                        flex: 1;
                    }
                }
            }

            .percent {
                padding-left: 80px;
                overflow: hidden;
                > * {
                    float: left;
                }
                > span {
                    display: inline-block;
                    width: 80px;
                    margin-left: -80px;
                }
                .progress {
                    width: 100%;
                    margin: 5px 0 0 0;
                }
            }

            //私有处理排序表格的头部高度
            /deep/.farmerTable.el-table {
                .caret-wrapper {
                    height: 20px !important;
                    .sort-caret.ascending {
                        top: -2px;
                    }
                    .sort-caret.descending {
                        bottom: 0;
                    }
                }
            }
            /deep/table {
                thead {
                    th:first-child {
                        text-align: center;
                    }
                }
                tbody {
                    font-weight: bold;
                    tr:nth-child(1),
                    tr:nth-child(2),
                    tr:nth-child(3) {
                        td:first-child {
                            color: #f56c6c;
                        }
                    }
                    tr {
                        td:first-child {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
