.main {
    display: flex;
    flex-direction: column;
    .tabs {
        flex: 0 0 61px;
        display: flex;
        align-items: center;
        background: #f7f7f7;
        position: relative;

        .tab {
            flex: 1;
        }

        .newTask {
            margin: 0 30px 0 10px;
            height: 41px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 138px;
            border-bottom: 1px solid #e4e7ed;
        }
    }

    .tabContent {
        padding: 0 30px;
    }

    .filterArea {
        display: flex;
        align-items: center;
        padding: 20px 0 10px;
        .kv {
            display: flex;
            align-items: center;
            margin-right: 50px;
            .key {
                width: 78px;
                margin-right: 10px;
                text-align: right;
                font-size: 14px;
            }
        }
    }

    .pagination {
        padding: 10px 0;
        margin: 0;
    }

    .table {
        .opt {
            a {
                margin-right: 5px;
            }
        }
    }
}

.newTaskDialog {
    .timeSelect {
        width: 68%;
    }
    .multipleSelect {
        width: 100%;
    }

    .chooseHd {
        display: flex;

        .fastChoose {
            flex: 1;

            .innerInput {
                width: 150px;
            }
        }
    }
}

.taskInfoDialog {
    .content {
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .title {
        line-height: 30px;
        display: flex;
        font-size: 16px;
        margin-left: -15px;
        align-items: center;
        margin-bottom: 5px;
        &:before {
            content: '';
            width: 5px;
            height: 16px;
            margin-right: 10px;
            background: #66b1ff;
        }
    }

    .starList {
        margin-bottom: 5px;
    }

    .footerOpt {
        display: flex;
        align-items: center;

        .tip {
            flex: 1;
            text-align: left;
            color: #666;
        }
    }
}

.starList {
    span {
        margin-right: 3px;
        color: #b2b2b2;

        &.current {
            color: #ff9c00;
        }
    }
}

.taskGradeDialog {
    .starList {
        span {
            cursor: pointer;
        }
    }
}

.taskAssignDialog {
    .footerOpt {
        display: flex;
        align-items: center;

        .tip {
            flex: 1;
            text-align: left;
            color: #666;
        }
    }
}
