<template>
    <div id="terminal" class="container">
        <fa-header ename="terminal"></fa-header>
        <div class="main ">
            <div class="sideBar">
                <div class="searchBox">
                    <el-input
                        placeholder="请输入内容"
                        suffix-icon="el-icon-search"
                        v-model="searchContent"
                    >
                    </el-input>
                </div>
                <div class="treeBox">
                    <el-tree
                        :data="treeData"
                        class="tree"
                        :props="defaultProps"
                        @node-click="handleNodeClick"
                    >
                    </el-tree>
                </div>
            </div>
            <div class="subMain fa-scroll">
                <div class="filterBox">
                    <el-form :inline="true" :model="filterForm">
                        <el-form-item label="">
                            <el-input
                                v-model="filterForm.name"
                                placeholder="农机名称/编号"
                            ></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-input v-model="filterForm.admin" placeholder="管理员"></el-input>
                        </el-form-item>
                        <el-form-item label="添加时间">
                            <el-date-picker
                                v-model="filterForm.addTime"
                                type="daterange"
                                range-separator="-"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                class="w100"
                            >
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="filter">筛选</el-button>
                            <el-button @click="reset">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="content ">
                    <div class="hd">
                        <el-button type="primary" @click="handleDialog = true">
                            <i class="el-icon-plus logo"></i>添加终端
                        </el-button>
                        <el-button><i class="el-icon-minus logo"></i>删除终端</el-button>
                        <span class="divide"></span>
                        <el-button-group>
                            <el-button
                                v-for="(item, index) in tabTerminalStatus"
                                :key="index"
                                :class="{ current: currentTabStatus === item.name }"
                                @click="setCurrentTabStatus(item.name)"
                            >
                                {{ item.label }}({{ item.num }})
                            </el-button>
                        </el-button-group>
                        <el-checkbox class="bind" v-model="isBindMachine"
                            >只显示未绑定农机的终端</el-checkbox
                        >
                    </div>
                    <div class="bd">
                        <el-table
                            :data="
                                farmTerminalData.slice(
                                    (currentPage - 1) * pagesize,
                                    currentPage * pagesize
                                )
                            "
                            highlight-current-row
                            class="w100"
                            stripe
                        >
                            <el-table-column type="selection" width="55"> </el-table-column>
                            <el-table-column prop="number" label="终端编号"> </el-table-column>
                            <el-table-column prop="name" label="终端名称"> </el-table-column>
                            <el-table-column prop="brandInfo" label="终端品牌信息">
                            </el-table-column>
                            <el-table-column prop="classify" label="终端分类"> </el-table-column>
                            <el-table-column prop="addTime" label="添加时间"> </el-table-column>
                            <el-table-column label="状态" width="120">
                                <template slot-scope="scope">
                                    <span
                                        @click="
                                            enterTerminalEdit(
                                                scope.row.number,
                                                scope.row.info.status
                                            )
                                        "
                                        v-if="scope.row.enterStatus"
                                        :class="scope.row.info.color"
                                        class="editBtn"
                                    >
                                        {{ scope.row.info.name }}
                                    </span>
                                    <el-select
                                        v-model="currentTerminalStatus"
                                        v-else
                                        @change="
                                            editTerminalStatus(
                                                scope.row.number,
                                                currentTerminalStatus
                                            )
                                        "
                                        style="margin-left:-10px"
                                    >
                                        <el-option
                                            v-for="item in terminalStatus"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                            <el-table-column prop="admin" label="管理员"> </el-table-column>
                            <el-table-column prop="bindNum" label="绑定农机编号"> </el-table-column>
                            <el-table-column label="操作" width="180">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="handleDialog = true"
                                        >修改</el-button
                                    >
                                    <el-button type="text" @click="del">删除</el-button>
                                    <el-button type="text" v-if="scope.row.isBind" @click="untie"
                                        >解绑</el-button
                                    ><el-button type="text" v-else @click="bindDialog = true">
                                        绑定
                                    </el-button>
                                </template>
                            </el-table-column>
                            <template slot="empty">
                                <div>暂无数据</div>
                            </template>
                        </el-table>
                        <el-pagination
                            class="pagination"
                            layout=" sizes, jumper, prev, pager, next, total"
                            @current-change="current_change"
                            @size-change="handleChangeSize"
                            :page-sizes="pageSizes"
                            :page-size="pagesize"
                            :total="farmTerminalData.length"
                        ></el-pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新建/修改终端 -->
        <el-dialog
            title="新建/修改终端"
            :visible.sync="handleDialog"
            width="600px"
            class="reLeaveDialog"
        >
            <el-form :model="handleForm" style="width:530px" label-width="120px" :rules="rules">
                <el-form-item label="终端编号" prop="number">
                    <el-input v-model="handleForm.number" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="终端名称" prop="name">
                    <el-input v-model="handleForm.name" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="终端品牌信息" prop="brandInfo">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入"
                        v-model="handleForm.brandInfo"
                    >
                    </el-input>
                </el-form-item>
                <el-form-item label="终端分类" prop="classify">
                    <el-select
                        v-model="handleForm.classify"
                        placeholder="请选择"
                        class="w100"
                        ref="classify"
                    >
                        <el-option
                            :value="handleForm.classify"
                            class="fa-scroll"
                            style="height:200px;overflow:auto;background:#fff"
                        >
                            <el-tree
                                :data="classifyTerminalList"
                                :props="defaultProps"
                                class="tree"
                                :expand-on-click-node="false"
                                @node-click="classifyTreeClick"
                            >
                            </el-tree>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="终端状态" prop="status">
                    <el-select
                        v-model="handleForm.status"
                        placeholder="请选择"
                        class="w100"
                        ref="status"
                    >
                        <el-option
                            v-for="item in terminalStatus"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="管理员" prop="admin">
                    <el-autocomplete
                        v-model="handleForm.admin"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入"
                        @select="handleSelect"
                        class="w100"
                    ></el-autocomplete>
                </el-form-item>
                <el-form-item label="绑定农机">
                    <el-select
                        v-model="handleForm.machineNum"
                        placeholder="请选择"
                        class="w100"
                        ref="machineNum"
                    >
                        <el-option
                            :value="handleForm.machineNum"
                            class="fa-scroll"
                            style="height:200px;overflow:auto;background:#fff"
                        >
                            <el-tree
                                :data="farmMachineList"
                                :props="defaultProps"
                                class="tree"
                                :expand-on-click-node="false"
                                @node-click="classifyTreeClick"
                            >
                            </el-tree>
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleDialog = false">取 消</el-button>
                <el-button type="primary" @click="handleDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <!-- 绑定农机 -->
        <el-dialog title="绑定" :visible.sync="bindDialog" width="600px" class="reLeaveDialog">
            <el-form style="width:530px" label-width="100px">
                <el-form-item
                    label="绑定农机"
                    prop="name"
                    :rules="[{ required: true, message: '请输入农机编号' }]"
                >
                    <el-input v-model="boundMachineNum"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="bindDialog = false">取 消</el-button>
                <el-button type="primary" @click="bindDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import {
    treeNode,
    farmTerminalData,
    adminList,
    classifyTerminalList,
    farmMachineList
} from './mock';
export default {
    name: '',
    props: [],
    components: { FaHeader },
    data() {
        return {
            searchContent: '',
            treeData: '',
            classifyTerminalList: '',
            filterForm: { name: '', admin: '', addTime: '' },
            handleForm: {
                number: '',
                name: '',
                brandInfo: '',
                classify: '',
                admin: '',
                status: '',
                machineNum: ''
            },
            tabTerminalStatus: [
                {
                    name: 'all',
                    label: '全部',
                    num: '100'
                },
                {
                    name: 'free',
                    label: '空闲',
                    num: '56'
                },
                {
                    name: 'maintain',
                    label: '维修中',
                    num: '18'
                },
                {
                    name: 'upkeep',
                    label: '保养中',
                    num: '6'
                },
                {
                    name: 'operator',
                    label: '作业中',
                    num: '20'
                }
            ],
            currentTabStatus: 'all',
            terminalStatus: [
                {
                    value: 'maintain',
                    label: '维修中'
                },
                {
                    value: 'upkeep',
                    label: '保养中'
                },
                {
                    value: 'operator',
                    label: '作业中'
                },
                {
                    value: 'normal',
                    label: '正常'
                }
            ],
            currentTerminalStatus: '',
            adminList: [],
            farmTerminalData: [],
            boundMachineNum: '',
            isBindMachine: false,
            handleDialog: false,
            bindDialog: false,
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            enterStatus: true,
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            rules: {
                number: [{ required: true, message: '请输入农机编号' }],
                name: [{ required: true, message: '请输入农机名称' }],
                brandInfo: [{ required: true, message: '请输入农机品牌信息' }],
                classify: [{ required: true, message: '请选择农机分类' }],
                admin: [{ required: true, message: '请输入管理员' }],
                status: [{ required: true, message: '请选择农机状态' }],
                machineNum: [{ required: true, message: '请输入农机编号' }]
            }
        };
    },
    created() {
        this.treeData = treeNode;
        farmTerminalData.forEach((val, index) => {
            farmTerminalData[index].enterStatus = true;
            farmTerminalData[index].info = this.terminalStatusMap(val.status);
        });
        this.farmTerminalData = farmTerminalData;
        this.adminList = adminList;
        this.classifyTerminalList = classifyTerminalList;
        this.farmMachineList = farmMachineList;
    },
    // mounted() {},
    methods: {
        del() {
            this.$confirm('此操作将删除该终端, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        untie() {
            this.$confirm('此操作解绑该终端, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '解绑成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消解绑'
                    });
                });
        },
        handleNodeClick() {
            // todo:树节点点击回调
        },
        enterTerminalEdit(number, status) {
            this.currentTerminalStatus = status;
            this.farmTerminalData.forEach((val, index, arr) => {
                val.enterStatus = true;
                if (val.number === number) {
                    arr[index].enterStatus = false;
                }
            });
        },
        editTerminalStatus(number, value) {
            this.farmTerminalData.forEach((val, index, arr) => {
                if (val.number === number) {
                    arr[index].enterStatus = true;
                    arr[index].info = this.terminalStatusMap(value);
                    arr[index].status = this.terminalStatusMap(value).status;
                }
            });
            // todo: 修改完成后发送新的终端表格数据给后台
        },
        terminalStatusMap(val) {
            var info;
            switch (val) {
                case 'maintain':
                    info = {
                        color: 'fontRed',
                        name: '维修中',
                        status: val
                    };
                    break;
                case 'normal':
                    info = {
                        color: 'fontGreen',
                        name: '正常',
                        status: val
                    };
                    break;
                case 'upkeep':
                    info = {
                        color: 'fontYellow',
                        name: '保养中',
                        status: val
                    };
                    break;
                case 'operator':
                    info = {
                        color: 'fontGray',
                        name: '作业中',
                        status: val
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        classifyTreeClick({ label }) {
            this.handleForm.classify = label;
            this.$refs.classify.blur();
        },
        // 管理员联想输入
        querySearchAsync(queryString, cb) {
            var adminList = this.adminList;
            var results = queryString
                ? adminList.filter(this.createStateFilter(queryString))
                : adminList;

            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                cb(results);
            }, 1000 * Math.random());
        },
        createStateFilter(queryString) {
            return state => {
                return state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        handleSelect() {
            // todo: 管理员选择之后的回调
        },
        setCurrentTabStatus(state) {
            this.currentTabStatus = state;
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        filter() {
            // todo:筛选
        },
        reset() {
            // todo:重置
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/farmMachine';
@import '@assets/stylesheet/common';
</style>
