<template>
    <div id="employHistory" class="container">
        <fa-header ename="employHistory"></fa-header>
        <div class="main fa-scroll">
            <div class="content ">
                <div class="hd">
                    <el-button-group>
                        <el-button
                            v-for="(item, index) in employBtnList"
                            :key="index"
                            :class="{ current: currentEmployBtn === item.name }"
                            @click="setCurrentBtn(item.name)"
                        >
                            {{ item.label }}({{ item.num }})
                        </el-button>
                    </el-button-group>
                </div>
                <div class="bd">
                    <el-table
                        :data="
                            employTableData.slice(
                                (currentPage - 1) * pagesize,
                                currentPage * pagesize
                            )
                        "
                        highlight-current-row
                        class="w100"
                        stripe
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column label="类型">
                            <template slot-scope="scope">
                                <span :class="scope.row.info.color">
                                    {{ scope.row.info.label }}
                                </span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="employYear" label="聘用年份"> </el-table-column>
                        <el-table-column prop="employStart" label="聘用开始时间"> </el-table-column>
                        <el-table-column prop="employEnd" label="聘用结束时间"> </el-table-column>
                        <el-table-column label="实际聘用天数">
                            <template slot-scope="scope">
                                <b>{{ scope.row.employDay }}</b>
                            </template>
                        </el-table-column>
                        <el-table-column prop="handler" label="操作人"> </el-table-column>
                        <el-table-column prop="handleTime" label="操作时间"> </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout="total, sizes, prev, pager, next, jumper"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pagesize"
                        :total="employTableData.length"
                    ></el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { employTableData } from './mock';
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            employBtnList: [
                {
                    name: 'all',
                    label: '全部',
                    num: '100'
                },
                {
                    name: 'employRecord',
                    label: '聘用记录',
                    num: '56'
                },
                {
                    name: 'dismissRecord',
                    label: '解聘记录',
                    num: '18'
                }
            ],
            currentEmployBtn: 'all',
            employTableData: [],
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50]
        };
    },
    created() {
        employTableData.forEach((val, index) => {
            employTableData[index].info = this.handleEmployType(val.type);
        });
        this.employTableData = employTableData;
    },
    methods: {
        setCurrentBtn(btn) {
            this.currentEmployBtn = btn;
        },
        handleEmployType(type) {
            var info;
            switch (type) {
                case 'employ':
                    info = {
                        color: 'fontGreen',
                        label: '聘用'
                    };
                    break;

                case 'dismissal':
                    info = {
                        color: 'fontRed',
                        label: '解聘'
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        // 获取当前页
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        // 获取当前每页条数
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        indexMethod(index) {
            return index + (this.currentPage - 1) * this.pagesize + 1;
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common.scss';
</style>
