<template>
    <div id="projectManage" class="container">
        <fa-header ename="projectManage"></fa-header>
        <div class="main fa-scroll">
            <div class="filterBox">
                <el-form :inline="true" :model="filterForm">
                    <el-form-item label="">
                        <el-input v-model="filterForm.name" placeholder="项目名称"></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-input v-model="filterForm.admin" placeholder="管理员"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-date-picker
                            v-model="filterForm.createTime"
                            type="daterange"
                            range-separator="-"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="filter">筛选</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="content">
                <div class="hd">
                    <el-button type="primary" @click="addProjectDialog = true">
                        <i class="el-icon-plus logo"></i>新建项目
                    </el-button>
                    <el-button type="primary" style="margin-right:15px">
                        <i class="el-icon-minus logo"></i>删除项目
                    </el-button>
                    <el-checkbox class="bind" v-model="isBind">
                        只显示未分配管理员的项目(10)
                    </el-checkbox>
                </div>
                <div class="bd">
                    <el-table
                        :data="
                            projectTableData.slice(
                                (currentPage - 1) * pagesize,
                                currentPage * pagesize
                            )
                        "
                        highlight-current-row
                        class="w100"
                        stripe
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column prop="name" label="项目名称"> </el-table-column>
                        <el-table-column prop="describe" label="项目描述"> </el-table-column>
                        <el-table-column prop="createTime" label="创建时间"></el-table-column>
                        <el-table-column prop="admin" label="分配管理员"></el-table-column>
                        <el-table-column label="操作" width="220">
                            <template slot-scope>
                                <el-button type="text" @click="addProjectDialog = true">
                                    修改
                                </el-button>
                                <el-button type="text" @click="del">删除</el-button>
                                <el-button type="text" @click="assignDialog = true"
                                    >分配管理员</el-button
                                >
                            </template>
                        </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout=" sizes, jumper, prev, pager, next, total"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pagesize"
                        :total="projectTableData.length"
                    ></el-pagination>
                </div>
            </div>
        </div>

        <!-- 新建/修改项目 -->
        <el-dialog title="新建/修改项目" :visible.sync="addProjectDialog" width="600px">
            <el-form :model="projectForm" style="width:535px" label-width="100px" :rules="rules">
                <el-form-item label="项目名称" prop="name">
                    <el-input v-model="projectForm.name" placeholder="姓名"></el-input
                ></el-form-item>
                <el-form-item label="项目描述" prop="describe">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入内容"
                        v-model="projectForm.describe"
                    >
                    </el-input>
                </el-form-item>
                <el-form-item label="分配管理员">
                    <el-autocomplete
                        v-model="projectForm.admin"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入内容"
                        class="w100"
                    ></el-autocomplete>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addProjectDialog = false">取 消</el-button>
                <el-button type="primary" @click="addProjectDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <!-- 分配管理员 -->
        <el-dialog title="分配管理员" :visible.sync="assignDialog" width="600px">
            <el-form :model="projectForm" style="width:535px" label-width="100px">
                <el-form-item
                    label="分配管理员"
                    :rules="[{ required: true, message: '请输入管理员' }]"
                >
                    <el-autocomplete
                        v-model="projectForm.admin"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入"
                        class="w100"
                    ></el-autocomplete>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addProjectDialog = false">取 消</el-button>
                <el-button type="primary" @click="addProjectDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { adminList, projectTableData } from './mock';
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            filterForm: {
                name: '',
                admin: '',
                createTime: ''
            },
            projectForm: {
                name: '',
                describe: '',
                admin: ''
            },
            isBind: false,
            projectTableData: [],
            addProjectDialog: false,
            assignDialog: false,
            adminList: [],
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            rules: {
                name: [{ required: true, message: '请输入项目名称' }],
                describe: [{ required: true, message: '请输入项目描述' }]
            }
        };
    },
    created() {
        this.projectTableData = projectTableData;
        this.adminList = adminList;
    },
    methods: {
        del() {
            this.$confirm('此操作将删除该项目, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        // 管理员联想输入
        querySearchAsync(queryString, cb) {
            var adminList = this.adminList;
            var results = queryString
                ? adminList.filter(this.createStateFilter(queryString))
                : adminList;

            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                cb(results);
            }, 1000 * Math.random());
        },
        createStateFilter(queryString) {
            return state => {
                return state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        filter() {
            // todo 条件筛选后发送请求获取表格数据
        },
        reset() {
            // todo 重置筛选表单数据
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common.scss';
</style>
