<template>
    <div id="workList" class="container">
        <fa-header ename="workList"></fa-header>
        <div class="main fa-scroll">
            <div class="filterBox">
                <el-form :inline="true" :model="workForm" ref="filterBox">
                    <el-form-item label="">
                        <el-input v-model="workForm.name" placeholder="作业名称"></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-input v-model="workForm.massif" placeholder="地块"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-date-picker
                            v-model="workForm.telephone"
                            type="daterange"
                            unlink-panels
                            range-separator="-"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :picker-options="pickerOptions"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="filter">筛选</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="content ">
                <div class="hd">
                    <el-button-group>
                        <el-button
                            v-for="(item, index) in workStatusList"
                            :key="index"
                            :class="{ current: workStatus === item.name }"
                            @click="setWorkStatus(item.name)"
                        >
                            {{ item.label }}({{ item.num }})
                        </el-button>
                    </el-button-group>
                </div>
                <div class="bd">
                    <el-table
                        :data="
                            workTableData.slice(
                                (currentPage - 1) * pagesize,
                                currentPage * pagesize
                            )
                        "
                        highlight-current-row
                        class="w100"
                        stripe
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column prop="name" label="作业名称"> </el-table-column>
                        <el-table-column prop="massif" label="地块"> </el-table-column>
                        <el-table-column prop="farmMachine" label="农机"> </el-table-column>
                        <el-table-column prop="workTime" label="作业时间"> </el-table-column>
                        <el-table-column prop="createTime" label="创建时间"> </el-table-column>
                        <el-table-column prop="state" label="状态">
                            <template slot-scope="scope">
                                <el-tag class="tag" :type="scope.row.type.sign">
                                    {{ scope.row.type.name }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="score" label="评分">
                            <template slot-scope="scope">
                                <el-rate
                                    v-model="scope.row.score"
                                    v-if="scope.row.score"
                                    disabled
                                    show-score
                                    text-color="#ff9900"
                                    score-template="{value}星"
                                >
                                </el-rate>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="120">
                            <template slot-scope="scope">
                                <el-button-group v-if="scope.row.state === 'pending'">
                                    <el-button
                                        type="text"
                                        @click="acceptBtn"
                                        style="margin-right:10px"
                                    >
                                        接单
                                    </el-button>
                                    <el-button type="text" @click="rejectDialog = true">
                                        拒单
                                    </el-button>
                                </el-button-group>
                                <el-button
                                    type="text"
                                    v-else-if="scope.row.state === 'progressing'"
                                    @click="completeBtn"
                                >
                                    完成作业
                                </el-button>
                                <span v-else>-</span>
                            </template>
                        </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout="total, sizes, prev, pager, next, jumper"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pagesize"
                        :total="workTableData.length"
                    ></el-pagination>
                </div>
            </div>
        </div>

        <el-dialog title="拒单操作" :visible.sync="rejectDialog" width="480px" class="batchDialog">
            <el-input type="textarea" :rows="4" placeholder="请输入拒单原因" v-model="rejectReason">
            </el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="batchDialog = false">取 消</el-button>
                <el-button type="primary" @click="batchDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { workTableData } from './mock';
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            workForm: {
                time: {
                    start: '',
                    end: ''
                },
                telephone: '',
                user: ''
            },
            workStatusList: [
                {
                    name: 'all',
                    label: '全部',
                    num: '100'
                },
                {
                    name: 'pending',
                    label: '待接单',
                    num: '56'
                },
                {
                    name: 'accepted',
                    label: '已接单',
                    num: '18'
                },
                {
                    name: 'rejection',
                    label: '拒接',
                    num: '6'
                },
                {
                    name: 'progressing',
                    label: '进行中',
                    num: '20'
                },
                {
                    name: 'completed',
                    label: '已完成',
                    num: '20'
                }
            ],
            workTableData: [],
            rejectDialog: false,
            workStatus: 'all',
            rejectReason: '',
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            pickerOptions: {
                shortcuts: [
                    {
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                    {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                    {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }
                ]
            }
        };
    },
    created() {
        workTableData.forEach((val, index) => {
            workTableData[index].type = this.workStatusHandle(val.state);
        });
        this.workTableData = workTableData;
    },
    methods: {
        setWorkStatus(state) {
            this.workStatus = state;
        },
        workStatusHandle(status) {
            var type;
            switch (status) {
                case 'pending':
                    type = {
                        name: '待接单',
                        sign: ''
                    };
                    break;
                case 'accepted':
                    type = {
                        name: '已接单',
                        sign: 'success'
                    };
                    break;
                case 'rejection':
                    type = {
                        name: '拒接',
                        sign: 'danger'
                    };
                    break;
                case 'progressing':
                    type = {
                        name: '进行中',
                        sign: 'warning'
                    };
                    break;
                case 'completed':
                    type = {
                        name: '已完成',
                        sign: 'success'
                    };
                    break;
                default:
                    break;
            }
            return type;
        },
        acceptBtn() {
            this.$message({
                message: '操作成功',
                type: 'success'
            });
        },
        completeBtn() {
            this.$message({
                message: '操作成功',
                type: 'success'
            });
        },
        filter() {
            // todo 条件筛选后发送请求获取表格数据
        },
        reset() {
            // todo 重置筛选表单数据
        },

        // 获取当前页
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        // 获取当前每页条数
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        indexMethod(index) {
            return index + (this.currentPage - 1) * this.pagesize + 1;
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common.scss';
</style>
