<template>
    <div id="login">
        <div class="logo"><img :src="logo" />项目名称</div>
        <div class="panel">
            <div class="wrap">
                <h2>欢迎登录</h2>
                <el-form :model="form" class="form">
                    <el-form-item id="username" prop="username" class="formItem">
                        <el-input
                            type="text"
                            prefix-icon="el-icon-user-solid"
                            v-model="form.username"
                        ></el-input>
                    </el-form-item>
                    <el-form-item id="password" prop="password" class="formItem">
                        <el-input
                            type="password"
                            prefix-icon="ct-font-lock"
                            v-model="form.password"
                        ></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" class="loginBtn" @click="loginAction"
                            >登&nbsp;&nbsp;&nbsp;录</el-button
                        >
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
import Log from '@utils/log';
const md5 = require('md5');
export default {
    name: 'Login',
    data() {
        return {
            logo: require('@assets/image/logo.png'),
            form: {
                username: '',
                password: ''
            }
        };
    },
    methods: {
        loginAction() {
            const username = this.form.username;
            const password = md5(`${this.form.username}${this.form.password}`);
            //Log.info(md5(password));
            this.$store
                .dispatch('login/doLogin', { username, password })
                .then(() => {
                    Log.log('这里处理你登陆成功后路由去的页面呢~');
                    this.$router.push({ path: '/guidance' });
                })
                .catch(() => {
                    this.$message.error('用户名密码错误');
                });
        }
    }
};
</script>

<style lang="scss">
@import '~@assets/font/font.scss';
</style>

<style lang="scss" scoped>
@import '~@assets/stylesheet/login.scss';
</style>
