<template>
    <div id="leaveInfo" class="container">
        <fa-header ename="leaveInfo"></fa-header>
        <div class="main fa-scroll">
            <el-tabs v-model="currentInfo" type="card" class="tab">
                <el-tab-pane name="todo">
                    <span slot="label">待办信息(9)</span>
                    <todoInfo v-model="dialog"></todoInfo>
                </el-tab-pane>
                <el-tab-pane name="done">
                    <span slot="label">已办信息(110)</span>
                    <doneInfo v-model="dialog"></doneInfo>
                </el-tab-pane>
            </el-tabs>
        </div>

        <!-- 代替请假弹窗 -->
        <el-dialog title="代请假" :visible.sync="dialog.reLeaveDialog" width="600px">
            <el-form :model="reLeaveForm" style="width:535px" label-width="100px" :rules="rules">
                <el-form-item label="请假人员" class="w50 clearfix" prop="name">
                    <el-autocomplete
                        v-model="reLeaveForm.name"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入"
                    ></el-autocomplete>
                </el-form-item>
                <el-form-item label="代请假人员" class="w50 clearfix" prop="rename">
                    <el-input v-model="reLeaveForm.rename" placeholder="审批人"></el-input>
                </el-form-item>
                <div style="clear:both"></div>
                <el-form-item label="请假类型" prop="type">
                    <el-select v-model="reLeaveForm.type" placeholder="请选择" class="w100">
                        <el-option label="事假" value="personal"> </el-option>
                        <el-option label="病假" value="sick"> </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="请假时间" prop="leaveTime">
                    <el-date-picker
                        v-model="reLeaveForm.leaveTime"
                        type="datetimerange"
                        range-separator="-"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="w100"
                    >
                    </el-date-picker>
                    <span>共XXX天</span>
                </el-form-item>
                <el-form-item label="请假事由" prop="reason">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入"
                        v-model="reLeaveForm.reason"
                    >
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialog.reLeaveDialog = false">取 消</el-button>
                <el-button type="primary" @click="dialog.reLeaveDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <!-- 批示弹窗 -->
        <el-dialog
            title="批示"
            :visible.sync="dialog.batchDialog"
            width="480px"
            class="batchDialog"
        >
            <el-input type="textarea" :rows="4" placeholder="请输入内容" v-model="batchInfo">
            </el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialog.batchDialog = false">取 消</el-button>
                <el-button type="primary" @click="dialog.batchDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import todoInfo from './components/todoInfo';
import doneInfo from './components/doneInfo';
import { allLeaveStaffInfo } from './mock';
export default {
    name: '',
    props: [],
    components: {
        FaHeader,
        todoInfo,
        doneInfo
    },
    data() {
        return {
            reLeaveForm: {
                name: '',
                rename: '管理员',
                type: '',
                reason: '',
                leaveTime: ''
            },
            currentInfo: 'todo',
            allLeaveStaff: [],
            batchInfo: '',
            dialog: {
                batchDialog: false,
                reLeaveDialog: false
            },
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            rules: {
                name: [{ required: true, message: '请输入请假人员' }],
                rename: [{ required: true, message: '请输入代请假人员' }],
                type: [{ required: true, message: '请选择请假类型' }],
                reason: [{ required: true, message: '请输入请假时间' }],
                leaveTime: [{ required: true, message: '请输入请假事由' }]
            }
        };
    },
    mounted() {
        this.allLeaveStaff = allLeaveStaffInfo;
    },
    methods: {
        processResJudge(val) {
            var res;
            switch (val) {
                case 'pass':
                    res = {
                        color: '#67C23A',
                        label: '通过',
                        describe: '情况属实，与已通过'
                    };
                    break;
                case 'rejected':
                    res = {
                        color: '#F56C6C',
                        label: '驳回',
                        describe: '有待核实'
                    };
                    break;
                default:
                    break;
            }
            return res;
        },

        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        querySearchAsync(queryString, cb) {
            var allLeaveStaff = this.allLeaveStaff;
            var results = queryString
                ? allLeaveStaff.filter(this.createStateFilter(queryString))
                : allLeaveStaff;

            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                cb(results);
            }, 1000 * Math.random());
        },
        createStateFilter(queryString) {
            return state => {
                return state.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        todoFilter() {
            // todo：待办情况内容筛选
        },
        todoReset() {
            // todo：待办情况内容重置
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/leaveInfo';
@import '@assets/stylesheet/common.scss';
</style>
