<template>
    <div id="adminManage" class="container">
        <fa-header ename="adminManage"></fa-header>
        <div class="main fa-scroll">
            <div class="filterBox">
                <el-form :inline="true" :model="filterForm">
                    <el-form-item label="">
                        <el-input v-model="filterForm.name" placeholder="用户名"></el-input>
                    </el-form-item>
                    <el-form-item label="">
                        <el-input v-model="filterForm.admin" placeholder="手机号"></el-input>
                    </el-form-item>
                    <el-form-item label="创建时间">
                        <el-date-picker
                            v-model="filterForm.createTime"
                            type="daterange"
                            range-separator="-"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="filter">筛选</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="content">
                <div class="hd">
                    <el-button type="primary" @click="addPersonnelDialog = true">
                        <i class="el-icon-plus logo"></i>添加人员
                    </el-button>
                    <el-button type="primary" style="margin-right:15px">
                        <i class="el-icon-minus logo"></i>删除人员
                    </el-button>
                    <el-checkbox class="bind" v-model="isBind">
                        只显示未分配项目的管理员(10)
                    </el-checkbox>
                </div>
                <div class="bd">
                    <el-table
                        :data="
                            adminTableData.slice(
                                (currentPage - 1) * pagesize,
                                currentPage * pagesize
                            )
                        "
                        highlight-current-row
                        class="w100"
                        stripe
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column prop="name" label="用户名"> </el-table-column>
                        <el-table-column prop="realName" label="真实姓名"> </el-table-column>
                        <el-table-column prop="gender" label="姓名"></el-table-column>
                        <el-table-column prop="telephone" label="手机号码"></el-table-column>
                        <el-table-column prop="addTime" label="添加时间"></el-table-column>
                        <el-table-column prop="projects" label="分配项目">
                            <template slot-scope="scope">
                                {{ scope.row.projects | handleProject }}
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="280">
                            <template slot-scope>
                                <el-button type="text" @click="addPersonnelDialog = true">
                                    修改
                                </el-button>
                                <el-button type="text" @click="resetPass">重置密码</el-button>
                                <el-button type="text" @click="del">删除</el-button>
                                <el-button type="text" @click="assignDialog = true">
                                    分配项目
                                </el-button>
                            </template>
                        </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout=" sizes, jumper, prev, pager, next, total"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pagesize"
                        :total="adminTableData.length"
                    ></el-pagination>
                </div>
            </div>
        </div>

        <el-dialog title="新建/修改人员" :visible.sync="addPersonnelDialog" width="622px">
            <el-form :model="personnelForm" style="width:550px" label-width="100px" :rules="rules">
                <el-form-item label="用户名" prop="name">
                    <el-input v-model="personnelForm.name" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="真实姓名" prop="realName">
                    <el-input v-model="personnelForm.realName" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="gender">
                    <el-radio-group v-model="personnelForm.gender">
                        <el-radio label="man">男</el-radio>
                        <el-radio label="women">女</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="手机号码" prop="number">
                    <el-input v-model="personnelForm.number" placeholder="请输入"></el-input>
                </el-form-item>
                <el-form-item label="分配项目">
                    <el-select v-model="personnelForm.project" multiple placeholder="" class="w100">
                        <el-option
                            v-for="item in allProjectList"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addPersonnelDialog = false">取 消</el-button>
                <el-button type="primary" @click="addPersonnelDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
        <el-dialog title="分配项目" :visible.sync="assignDialog" width="622px">
            <el-transfer
                v-model="assignedProject"
                :data="allProjectList"
                :titles="['项目列表', '已选项目']"
            ></el-transfer>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addPersonnelDialog = false">取 消</el-button>
                <el-button type="primary" @click="addPersonnelDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { adminList, adminTableData, allProjectList } from './mock';
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            filterForm: {
                name: '',
                admin: '',
                createTime: ''
            },
            personnelForm: {
                name: '',
                realName: '',
                gender: '',
                number: '',
                project: []
            },
            allProjectList: [
                {
                    value: '1',
                    label: '项目1'
                },
                {
                    value: '2',
                    label: '项目2'
                },
                {
                    value: '3',
                    label: '项目3'
                },
                {
                    value: '4',
                    label: '项目4'
                },
                {
                    value: '5',
                    label: '项目5'
                }
            ],
            assignedProject: [1, 4],
            isBind: false,
            adminTableData: [],
            addPersonnelDialog: false,
            assignDialog: false,
            adminList: [],
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            rules: {
                name: [{ required: true, message: '请输入用户名' }],
                realName: [{ required: true, message: '请输入真实姓名' }],
                gender: [{ required: true, message: '请选择性别' }],
                number: [{ required: true, message: '请输入手机号码' }]
            }
        };
    },
    filters: {
        handleProject: function(value) {
            return value.join('、');
        }
    },
    created() {
        this.adminTableData = adminTableData;
        this.adminList = adminList;
        this.allProjectList = allProjectList;
    },
    methods: {
        resetPass() {
            this.$confirm('此操作将重置密码, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该行数据
                    this.$message({
                        type: 'success',
                        message: '重置成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消重置'
                    });
                });
        },
        del() {
            this.$confirm('此操作将删除该管理员, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        // 管理员联想输入
        querySearchAsync(queryString, cb) {
            var adminList = this.adminList;
            var results = queryString
                ? adminList.filter(this.createStateFilter(queryString))
                : adminList;

            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                cb(results);
            }, 1000 * Math.random());
        },
        createStateFilter(queryString) {
            return state => {
                return state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        filter() {
            // todo 条件筛选后发送请求获取表格数据
        },
        reset() {
            // todo 重置筛选表单数据
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common.scss';
</style>
