<template>
    <div class="faHeader">
        <!-- todo下面这个demo是需要删掉了，方便页面展示用的 -->
        <ul class="demo">
            <li
                @click="switchRole(item.role)"
                :key="index"
                v-for="(item, index) in roles"
                :class="{ current: item.role === role }"
            >
                {{ item.name }}
            </li>
        </ul>
        <div class="faHeaderWrap">
            <div class="logo">下町农业</div>
            <ul class="menu">
                <li
                    :class="['item', { current: isCurrent(item) }]"
                    :key="index"
                    v-for="(item, index) in menuData"
                    @click="handleMenuClick(item)"
                >
                    {{ item.meta.chineseName }}

                    <span
                        class="notice"
                        v-if="item.meta.englishName === 'leaveInfo' && leaveNotice > 0"
                    >
                        {{ leaveNotice }}
                    </span>
                    <span
                        class="notice"
                        v-if="item.meta.englishName === 'taskManage' && taskNotice > 0"
                    >
                        {{ taskNotice }}
                    </span>
                </li>
            </ul>
            <div class="switchTask" v-if="isTaskDataPage">
                <el-select v-model="task" filterable placeholder="请选择" @change="taskChange">
                    <el-option
                        v-for="item in taskList"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    >
                    </el-option>
                </el-select>
            </div>
            <div class="userInfo">
                <div class="userWrap">
                    <fa-user-card v-bind="testUser"></fa-user-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { getRoutesByRole } from '../router';
import FaUserCard from '@components/FaUserCard.vue';
import log from '@utils/log';
export default {
    name: 'FaHeader',
    data() {
        return {
            //testUser, //todo 这是测试用的数据，开发时删掉
            roles: [
                //roles是需要删掉的，方便页面展示用的
                {
                    name: '超级管理员',
                    role: 'superAdmin'
                },
                {
                    name: '系统管理员',
                    role: 'admin'
                },
                {
                    name: '农机手',
                    role: 'driver'
                }
            ],
            //taskList,
            task: ''
        };
    },
    props: {
        ename: {
            type: String,
            required: true
        }
    },
    components: {
        FaUserCard
    },
    created() {
        log.info('task', this.task);
        log.info('currentTaskId', this.currentTaskId);
        if (this.currentTaskId) {
            this.task = this.currentTaskId;
        }
    },
    computed: {
        testUser() {
            return {
                username: sessionStorage.getItem('loginName'),
                realname: sessionStorage.getItem('realName'),
                role: sessionStorage.getItem('roleName'),
                lastLogin: '2019-09-02 11:34:11',
                ip: '10.0.4.32'
            };
        },
        role() {
            return this.$store.state.permission.role;
        },
        menuData() {
            let routes = this.routes;

            // 排除掉不需要在头部展示的路由
            routes = routes.filter(item => item.meta.chineseName !== undefined);

            // 如果是作业详情页面，就只展示作业详情的头部菜单
            return this.getMenuData(routes, { isTaskPage: this.isTaskDataPage });
        },
        routes() {
            return getRoutesByRole(this.role);
        },
        leaveNotice() {
            return this.$store.state.permission.leaveNotice;
        },
        taskNotice() {
            return this.$store.state.permission.taskNotice;
        },
        isTaskDataPage() {
            // 这是跳出来作业数据页面，只展示实时数据和历史数据两个menu
            return this.ename === 'intimeData' || this.ename === 'historyData';
        },
        taskList() {
            if (this.ename === 'intimeData') {
                return [
                    {
                        value: 'all',
                        label: '全部'
                    }
                ].concat(this.$store.state.header.taskList);
            }
            return this.$store.state.header.taskList;
        },
        currentTaskId() {
            if (this.ename === 'historyData' && this.$store.state.header.taskId === 'all') {
                // 如果是历史数据是不能选择全部的
                this.$store.commit(
                    'header/updateCurrentTaskId',
                    this.taskList.length > 0 && this.taskList[0].value
                );
            }
            return this.$store.state.header.taskId;
        }
    },
    watch: {
        '$store.state.header.taskId'(val) {
            log.info(val);
            this.task = val;
        }
    },
    methods: {
        handleMenuClick(menuItem) {
            if (!this.isCurrent(menuItem)) {
                this.$router.push(menuItem.path);
            }
        },
        isCurrent(menuItem) {
            return menuItem.meta.englishName === this.ename;
        },
        getMenuData(routes, { isTaskPage = false }) {
            // 作业详情页面头部路由
            return routes.filter(item => {
                if (isTaskPage) {
                    return (
                        item.meta.englishName === 'intimeData' ||
                        item.meta.englishName === 'historyData'
                    );
                }
                return (
                    item.meta.englishName !== 'intimeData' &&
                    item.meta.englishName !== 'historyData'
                );
            });
        },
        switchRole(role) {
            // todo 需要删掉的
            this.$store.commit('permission/updateRole', role);
            this.$router.push('/');
        },
        taskChange(val) {
            const currentTask = this.taskList.find(t => {
                return t.value === val;
            });
            this.$store.commit('header/updateCurrentTaskId', currentTask.value);
        }
    }
};
</script>

<style lang="scss" scoped>
.demo {
    position: fixed;
    z-index: 22;
    left: 0;
    bottom: 82px;
    background: #fff;
    border: 1px solid #174acd;
    li {
        cursor: pointer;
        border-top: 1px solid #087af7;
        &:first-child {
            border-top: none;
        }
        &.current {
            color: #cd0000;
        }
    }
}
.faHeader {
    height: 80px;
    position: relative;
    .faHeaderWrap {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        color: #ffffff;
        background: url(~@assets/image/header/bg.png) right center,
            linear-gradient(90deg, #174acd, #087af7);
        line-height: 80px;
        display: flex;
        flex-flow: row nowrap;
    }
    .logo {
        white-space: nowrap;
        margin-right: 100px;
        font-size: 24px;
        font-weight: 500;
        padding-left: 75px;
        background: url(~@assets/image/logo.png) 15px center;
        background-size: 48px;
        background-repeat: no-repeat;
    }
    .menu {
        display: flex;
        flex-flow: row nowrap;
        .item {
            padding: 0 20px;
            min-width: 120px;
            max-width: 160px;
            text-align: center;
            white-space: nowrap;
            flex: 1 1 auto;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.15);
                cursor: pointer;
            }
            &.current {
                background-color: rgba($color: #000000, $alpha: 0.35);
            }
            .notice {
                position: relative;
                display: inline-block;
                background: #ff4040;
                line-height: initial;
                text-indent: -1px;
                top: -6px;
                width: 16px;
                height: 16px;
                font-size: 12px;
                border-radius: 10px;
            }
        }
        flex: 1 1 auto;
    }
    .userInfo {
        position: relative;
        flex: 0 0 130px;
    }
    .userWrap {
        height: 30px;
        line-height: 1.5;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }
}
</style>
