<template>
    <div class="faUserCard">
        <el-popover
            placement="top-start"
            width="360"
            trigger="hover"
            :offset="100"
            :visible-arrow="false"
            transition="el-zoom-in-top"
            popper-class="userCardContent"
        >
            <div class="title">{{ title }}</div>
            <div class="form">
                <div class="item"><label>账号信息：</label>{{ username }}</div>
                <div class="item"><label>身份信息：</label>{{ role }}</div>
                <!--<div class="item"><label>最近登录：</label>{{ lastLogin }}</div>
                <div class="item"><label>IP地址：</label>{{ ip }}</div>-->
            </div>
            <div class="buttonGroup">
                <el-button type="primary" class="btn" @click="logout">退出登录</el-button>
                <el-button class="btn" @click="dialogVisible = true">修改密码</el-button>
            </div>
            <!-- todo下面这个用户的头像，你们在外网找个其他字体图标库用一下 -->
            <div slot="reference" class="reference"><i class="el-icon-service"></i> 超级管理员</div>
            <el-dialog title="修改密码" :visible.sync="dialogVisible" append-to-body width="30%">
                <el-form ref="form" :model="form" label-width="100px">
                    <el-form-item label="原密码">
                        <el-input v-model="form.oldPassword" type="password"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码设置">
                        <el-input v-model="form.password" type="password"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码确认">
                        <el-input v-model="form.passwordConfirm" type="password"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                </span>
            </el-dialog>
        </el-popover>
    </div>
</template>

<script>
export default {
    name: 'FaUserCard',
    props: {
        username: {
            type: String,
            required: true
        },
        realname: {
            type: String,
            required: true
        },
        role: {
            type: String,
            required: true
        },
        lastLogin: {
            type: String,
            required: true
        },
        ip: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            dialogVisible: false,
            form: {
                oldPassword: '',
                password: '',
                passwordConfirm: ''
            }
        };
    },
    computed: {
        title() {
            return `你好，尊敬的${this.realname}用户`;
        }
    },
    methods: {
        handleMenuClick(menuItem) {
            if (!this.isCurrent(menuItem)) {
                this.$router.push(menuItem.path);
            }
        },
        isCurrent(menuItem) {
            return menuItem.meta.englishName === this.ename;
        },
        logout() {
            sessionStorage.removeItem('token');
            this.$router.push('/login');
        }
    }
};
</script>

<style lang="scss" scoped>
.faUserCard {
    .reference {
        padding: 4px 10px;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
    }
}
</style>

<style lang="scss">
.userCardContent {
    .title {
        text-indent: 20px;
        font-size: 16px;
        line-height: 46px;
        border-bottom: 1px solid #eceff4;
    }
    font-weight: bold;
    color: #000 !important;
    .item {
        padding-left: 14px;
        line-height: 40px;
        label {
            display: inline-block;
            width: 76px;
            text-align: right;
        }
    }
    .buttonGroup {
        margin-top: 20px;
        margin-left: 20px;
        .btn {
            width: 140px;
        }
    }
}
</style>
