<template>
    <div class="container" id="guidance">
        <div class="header">
            <!--头部卡片-->
            <div class="userWrap">
                <fa-user-card v-bind="testUser"></fa-user-card>
            </div>
        </div>
        <div class="logo"><img :src="logo" />农业项目</div>
        <div class="main fa-scroll">
            <div class="tip">XXX系统管理员，您有4个项目</div>
            <ul class="projectList">
                <li v-for="(project, index) in projectData" :key="index" @click="openProject">
                    <div class="title">{{ project.title }}</div>
                    <img :src="project.img" />
                    <div class="info">
                        <span class="key">创建时间</span>
                        <span class="value">{{ project.time }}</span>
                    </div>
                    <div class="info">
                        <span class="key">描述信息</span>
                        <span class="value">{{ project.desc }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { projectData } from './mock.js';
import { testUser } from './mock';
import FaUserCard from '@components/FaUserCard.vue';

export default {
    name: 'Guidance',
    data() {
        return {
            projectData: projectData,
            logo: require('@assets/image/logo.png'),
            testUser //todo 这是测试用的数据，开发时删掉
        };
    },
    components: {
        FaUserCard
    },
    methods: {
        openProject() {
            this.$router.push({ path: '/driver' });
        }
    }
};
</script>

<style scoped lang="scss">
@import '~@assets/stylesheet/common.scss';
@import '~@assets/stylesheet/guidance.scss';
</style>
