<template>
    <div id="leaveApply" class="container">
        <fa-header ename="leaveApply"></fa-header>
        <div class="main fa-scroll">
            <div class="filterBox">
                <el-form :inline="true" :model="filterForm">
                    <el-form-item label="" prop="personnel">
                        <el-select v-model="filterForm.personnel" placeholder="请选择">
                            <el-option label="全部申请" value="all"> </el-option>
                            <el-option label="事假申请" value="personal"> </el-option>
                            <el-option label="病假申请" value="sick"> </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="提交时间">
                        <el-date-picker
                            v-model="filterForm.leaveTime"
                            type="daterange"
                            range-separator="-"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            class="w100"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="filter">筛选</el-button>
                        <el-button @click="reset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="content">
                <div class="hd">
                    <el-button type="primary" @click="leaveApplyDialog = true">
                        <i class="el-icon-plus logo"></i>添加申请
                    </el-button>
                </div>
                <div class="bd">
                    <el-table
                        :data="
                            leaveTableData.slice(
                                (currentPage - 1) * pagesize,
                                currentPage * pagesize
                            )
                        "
                        highlight-current-row
                        class="w100"
                        stripe
                    >
                        <el-table-column type="selection" width="55"> </el-table-column>
                        <el-table-column prop="type" label="请假类型"> </el-table-column>
                        <el-table-column prop="reason" label="请假事由"> </el-table-column>
                        <el-table-column prop="time" label="请假时间"> </el-table-column>
                        <el-table-column prop="commitTime" label="提交时间"></el-table-column>
                        <el-table-column prop="processRes" label="处理结果">
                            <template slot-scope="scope">
                                <div>
                                    <span :class="scope.row.info.color">
                                        【{{ scope.row.info.label }}】
                                    </span>
                                    {{ scope.row.info.describe }}
                                </div>
                            </template>
                        </el-table-column>

                        <el-table-column prop="handler" label="处理人"></el-table-column>
                        <el-table-column prop="handleTime" label="处理时间"></el-table-column>
                        <el-table-column label="操作" width="120">
                            <template slot-scope="scope">
                                <el-button-group v-if="scope.row.processRes === 'approval'">
                                    <el-button
                                        type="text"
                                        @click="leaveApplyDialog = true"
                                        style="margin-right:10px"
                                    >
                                        修改
                                    </el-button>
                                    <el-button type="text" @click="revoke">撤回</el-button>
                                </el-button-group>
                            </template>
                        </el-table-column>
                        <template slot="empty">
                            <div>暂无数据</div>
                        </template>
                    </el-table>
                    <el-pagination
                        class="pagination"
                        layout=" sizes, jumper, prev, pager, next, total"
                        @current-change="current_change"
                        @size-change="handleChangeSize"
                        :page-sizes="pageSizes"
                        :page-size="pagesize"
                        :total="leaveTableData.length"
                    ></el-pagination>
                </div>
            </div>
        </div>

        <el-dialog title="添加申请" :visible.sync="leaveApplyDialog" width="600px">
            <el-form :model="leaveApplyForm" style="width:535px" label-width="100px" :rules="rules">
                <el-form-item label="请假类型" prop="type">
                    <el-select v-model="leaveApplyForm.type" placeholder="请选择" class="w100">
                        <el-option label="事假" value="personal"> </el-option>
                        <el-option label="病假" value="sick"> </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="请假时间" prop="leaveTime">
                    <el-date-picker
                        v-model="leaveApplyForm.leaveTime"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        class="w100"
                    >
                    </el-date-picker>
                    <span>共XXX天</span>
                </el-form-item>
                <el-form-item label="请假事由" prop="reason">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入内容"
                        v-model="leaveApplyForm.reason"
                    >
                    </el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="leaveApplyDialog = false">取 消</el-button>
                <el-button type="primary" @click="leaveApplyDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { leaveTableData } from './mock';
export default {
    name: 'DriverManage',
    components: {
        FaHeader
    },
    props: [],
    data() {
        return {
            filterForm: {
                personnel: '',
                leaveTime: ''
            },
            leaveApplyForm: {
                type: '',
                leaveTime: '',
                reason: ''
            },
            leaveTableData: [],
            leaveApplyDialog: false,
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            rules: {
                type: [{ required: true, message: '请选择请假类型' }],
                leaveTime: [{ required: true, message: '请输入请假时间' }],
                reason: [{ required: true, message: '请输入请假原因' }]
            }
        };
    },
    created() {
        leaveTableData.forEach((val, index) => {
            leaveTableData[index].info = this.handleResJudge(val.processRes);
        });
        this.leaveTableData = leaveTableData;
    },
    methods: {
        revoke() {
            this.$confirm('此操作将撤回该申请, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '撤回成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消撤回'
                    });
                });
        },
        handleResJudge(res) {
            var info;
            switch (res) {
                case 'pass':
                    info = {
                        color: 'fontGreen',
                        label: '通过',
                        describe: '情况属实，与已通过'
                    };
                    break;
                case 'rejected':
                    info = {
                        color: 'fontRed',
                        label: '驳回',
                        describe: '有待核实'
                    };
                    break;
                case 'approval':
                    info = {
                        color: 'fontBlue',
                        label: '待审批',
                        describe: ''
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },

        filter() {
            // todo 条件筛选后发送请求获取表格数据
        },
        reset() {
            // todo 重置筛选表单数据
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/driver';
@import '@assets/stylesheet/common.scss';
</style>
