<template>
    <div class="fa-farmauto">
        <router-view></router-view>
    </div>
</template>

<script>
//import Log from '@utils/log';
export default {
    name: 'FaFarmauto',
    created() {
        //Log.warn('不用使用console.log, 请查看使用 src/utils/log 模块');
    }
};
</script>

<style lang="scss">
@import '~@assets/stylesheet/index.scss';
.fa-farmauto {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}
</style>
