<template>
    <div id="farmTools" class="container">
        <fa-header ename="farmTools"></fa-header>
        <div class="main ">
            <div class="sideBar">
                <div class="searchBox">
                    <el-input
                        placeholder="请输入内容"
                        suffix-icon="el-icon-search"
                        v-model="searchContent"
                    >
                    </el-input>
                </div>
                <div class="treeBox">
                    <el-tree
                        :data="treeData"
                        class="tree"
                        :props="defaultProps"
                        @node-click="handleNodeClick"
                    >
                    </el-tree>
                </div>
            </div>
            <div class="subMain fa-scroll">
                <div class="filterBox">
                    <el-form :inline="true" :model="filterForm">
                        <el-form-item label="">
                            <el-input
                                v-model="filterForm.name"
                                placeholder="农机名称/编号"
                            ></el-input>
                        </el-form-item>
                        <el-form-item label="">
                            <el-input v-model="filterForm.admin" placeholder="管理员"></el-input>
                        </el-form-item>
                        <el-form-item label="添加时间">
                            <el-date-picker
                                v-model="filterForm.addTime"
                                type="daterange"
                                range-separator="-"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                class="w100"
                            >
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="filter">筛选</el-button>
                            <el-button @click="reset">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="content ">
                    <div class="hd">
                        <el-button type="primary" @click="handleDialog = true">
                            <i class="el-icon-plus  logo"></i>添加农具
                        </el-button>
                        <el-button><i class="el-icon-minus  logo"></i>删除农具</el-button>
                        <span class="divide"></span>
                        <el-button-group>
                            <el-button
                                v-for="(item, index) in tabToolsStatus"
                                :key="index"
                                :class="{ current: currentTabStatus === item.name }"
                                @click="setCurrentTabStatus(item.name)"
                            >
                                {{ item.label }}({{ item.num }})
                            </el-button>
                        </el-button-group>
                    </div>
                    <div class="bd">
                        <el-table
                            :data="
                                farmToolsData.slice(
                                    (currentPage - 1) * pagesize,
                                    currentPage * pagesize
                                )
                            "
                            highlight-current-row
                            class="w100"
                            stripe
                        >
                            <el-table-column type="selection" width="55"> </el-table-column>
                            <el-table-column prop="number" label="农具编号"> </el-table-column>
                            <el-table-column prop="name" label="农具名称"> </el-table-column>
                            <el-table-column prop="brandInfo" label="农具品牌信息">
                            </el-table-column>
                            <el-table-column prop="classify" label="农具分类"> </el-table-column>
                            <el-table-column prop="addTime" label="添加时间"> </el-table-column>
                            <el-table-column label="状态" width="120">
                                <template slot-scope="scope">
                                    <span
                                        @click="
                                            enterToolsEdit(scope.row.number, scope.row.info.status)
                                        "
                                        v-if="scope.row.enterStatus"
                                        :class="scope.row.info.color"
                                        class="editBtn"
                                    >
                                        {{ scope.row.info.name }}
                                    </span>
                                    <el-select
                                        v-model="currentToolsStatus"
                                        v-else
                                        @change="
                                            editToolsStatus(scope.row.number, currentToolsStatus)
                                        "
                                        style="margin-left:-10px"
                                    >
                                        <el-option
                                            v-for="item in toolsStatus"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </template>
                            </el-table-column>
                            <el-table-column prop="admin" label="管理员"> </el-table-column>
                            <el-table-column label="操作" width="120">
                                <el-button type="text" @click="handleDialog = true">修改</el-button>
                                <el-button type="text" @click="delTools">删除</el-button>
                            </el-table-column>
                            <template slot="empty">
                                <div>暂无数据</div>
                            </template>
                        </el-table>
                        <el-pagination
                            class="pagination"
                            layout=" sizes, jumper, prev, pager, next, total"
                            @current-change="current_change"
                            @size-change="handleChangeSize"
                            :page-sizes="pageSizes"
                            :page-size="pagesize"
                            :total="farmToolsData.length"
                        ></el-pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新建/修改农具 -->
        <el-dialog
            title="新建/修改农具"
            :visible.sync="handleDialog"
            width="600px"
            class="reLeaveDialog"
        >
            <el-form :model="handleForm" style="width:530px" label-width="120px" :rules="rules">
                <el-form-item label="农具编号" prop="number">
                    <el-input v-model="handleForm.number"></el-input>
                </el-form-item>
                <el-form-item label="农具名称" prop="name">
                    <el-input v-model="handleForm.name"></el-input>
                </el-form-item>
                <el-form-item label="农具品牌信息" prop="brandInfo">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入内容"
                        v-model="handleForm.brandInfo"
                    >
                    </el-input>
                </el-form-item>
                <el-form-item label="农具分类" prop="classify">
                    <el-select
                        v-model="handleForm.classify"
                        placeholder="请选择"
                        class="w100"
                        ref="classify"
                    >
                        <el-option
                            :value="handleForm.classify"
                            class="fa-scroll"
                            style="height:200px;overflow:auto;background:#fff"
                        >
                            <el-tree
                                :data="classifyToolsList"
                                :props="defaultProps"
                                class="tree"
                                :expand-on-click-node="false"
                                @node-click="classifyTreeClick"
                            >
                            </el-tree>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="农具状态" prop="status">
                    <el-select
                        v-model="handleForm.status"
                        placeholder="请选择"
                        class="w100"
                        ref="status"
                    >
                        <el-option
                            v-for="item in toolsStatus"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="管理员" prop="admin">
                    <el-autocomplete
                        v-model="handleForm.admin"
                        :fetch-suggestions="querySearchAsync"
                        placeholder="请输入内容"
                        @select="handleSelect"
                        class="w100"
                    ></el-autocomplete>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleDialog = false">取 消</el-button>
                <el-button type="primary" @click="handleDialog = false">
                    确 定
                </el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import FaHeader from '@components/FaHeader';
import { treeNode, farmToolsData, adminList, classifyToolsList } from './mock';
export default {
    name: '',
    props: [],
    components: { FaHeader },
    data() {
        return {
            searchContent: '',
            treeData: '',
            classifyToolsList: '',
            filterForm: { name: '', admin: '', addTime: '' },
            handleForm: {
                number: '',
                name: '',
                brandInfo: '',
                classify: '',
                admin: '',
                status: ''
            },
            tabToolsStatus: [
                {
                    name: 'all',
                    label: '全部',
                    num: '100'
                },
                {
                    name: 'free',
                    label: '空闲',
                    num: '56'
                },
                {
                    name: 'maintain',
                    label: '维修中',
                    num: '18'
                },
                {
                    name: 'upkeep',
                    label: '保养中',
                    num: '6'
                },
                {
                    name: 'operator',
                    label: '作业中',
                    num: '20'
                }
            ],
            currentTabStatus: 'all',
            toolsStatus: [
                {
                    value: 'maintain',
                    label: '维修中'
                },
                {
                    value: 'upkeep',
                    label: '保养中'
                },
                {
                    value: 'operator',
                    label: '作业中'
                },
                {
                    value: 'normal',
                    label: '正常'
                }
            ],
            currentToolsStatus: '',
            adminList: [],
            farmToolsData: [],
            handleDialog: false,
            total: 0,
            pagesize: 5,
            currentPage: 1,
            pageSizes: [5, 10, 20, 30, 50],
            enterStatus: true,
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            rules: {
                number: [{ required: true, message: '请输入农机编号' }],
                name: [{ required: true, message: '请输入农机名称' }],
                brandInfo: [{ required: true, message: '请输入农机品牌信息' }],
                classify: [{ required: true, message: '请选择农机分类' }],
                admin: [{ required: true, message: '请输入管理员' }],
                status: [{ required: true, message: '请选择农机状态' }]
            }
        };
    },
    created() {
        this.treeData = treeNode;
        farmToolsData.forEach((val, index) => {
            farmToolsData[index].enterStatus = true;
            farmToolsData[index].info = this.toolsStatusMap(val.status);
        });
        this.farmToolsData = farmToolsData;
        this.adminList = adminList;
        this.classifyToolsList = classifyToolsList;
    },
    // mounted() {},
    methods: {
        handleNodeClick() {
            // todo:树节点点击回调
        },
        delTools() {
            this.$confirm('此操作将删除该农具, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            })
                .then(() => {
                    // todo 请求接口删除该人员
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                })
                .catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
        },
        enterToolsEdit(number, status) {
            this.currentToolsStatus = status;
            this.farmToolsData.forEach((val, index, arr) => {
                val.enterStatus = true;
                if (val.number === number) {
                    arr[index].enterStatus = false;
                }
            });
        },
        editToolsStatus(number, value) {
            this.farmToolsData.forEach((val, index, arr) => {
                if (val.number === number) {
                    arr[index].enterStatus = true;
                    arr[index].info = this.toolsStatusMap(value);
                    arr[index].status = this.toolsStatusMap(value).status;
                }
            });
            // todo: 修改完成后发送新的农具表格数据给后台
        },
        toolsStatusMap(val) {
            var info;
            switch (val) {
                case 'maintain':
                    info = {
                        color: 'fontRed',
                        name: '维修中',
                        status: val
                    };
                    break;
                case 'normal':
                    info = {
                        color: 'fontGreen',
                        name: '正常',
                        status: val
                    };
                    break;
                case 'upkeep':
                    info = {
                        color: 'fontYellow',
                        name: '保养中',
                        status: val
                    };
                    break;
                case 'operator':
                    info = {
                        color: 'fontGray',
                        name: '作业中',
                        status: val
                    };
                    break;
                default:
                    break;
            }
            return info;
        },
        classifyTreeClick({ label }) {
            this.handleForm.classify = label;
            this.$refs.classify.blur();
        },
        // 管理员联想输入
        querySearchAsync(queryString, cb) {
            var adminList = this.adminList;
            var results = queryString
                ? adminList.filter(this.createStateFilter(queryString))
                : adminList;

            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                cb(results);
            }, 1000 * Math.random());
        },
        createStateFilter(queryString) {
            return state => {
                return state.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
            };
        },
        handleSelect() {
            // todo: 管理员选择之后的回调
        },
        setCurrentTabStatus(state) {
            this.currentTabStatus = state;
        },
        current_change(currentPage) {
            this.currentPage = currentPage;
        },
        handleChangeSize(pagesize) {
            this.pagesize = pagesize;
        },
        filter() {
            // todo:筛选
        },
        reset() {
            // todo:重置
        }
    },
    watch: {}
};
</script>

<style scoped lang="scss">
@import '@assets/stylesheet/farmMachine';
@import '@assets/stylesheet/common';
</style>
